config GITR_USE_KDEVOPS_NFSD
	bool "Test against the kdevops NFS server"
	select KDEVOPS_SETUP_NFSD
	default y
	help
	  Select this option if you want to test against an NFS
	  server deployed by kdevops. If you want to test against
	  another already-deployed and reachable NFS server, disable
	  this option and specify the server hostname below.

config GITR_NFS_SERVER_HOSTNAME
	string "Test Server hostname"
	default ""
	depends on !GITR_USE_KDEVOPS_NFSD
	help
	  The NFS server hostname or address that test clients are to
	  mount.

config GITR_NFS_SERVER_EXPORT
	string "Test Server export path"
	default "gitr"
	depends on !GITR_USE_KDEVOPS_NFSD
	help
	  The NFS server export path that test clients are to mount.

config GITR_NFS_MOUNT_OPTS
	string "The NFS client mount options to use"
	default "vers=4.2,sec=sys"
	help
	  The mount options to use when mounting the file system
	  under test.
