oci_region = "{{ terraform_oci_region }}"
oci_tenancy_ocid = "{{ terraform_oci_tenancy_ocid }}"
oci_user_ocid = "{{ terraform_oci_user_ocid }}"
oci_user_private_key_path = "{{ terraform_oci_user_private_key_path }}"
oci_user_fingerprint = "{{ terraform_oci_user_fingerprint }}"
oci_availablity_domain = "{{ terraform_oci_availablity_domain }}"
oci_compartment_ocid = "{{ terraform_oci_compartment_ocid }}"
oci_shape = "{{ terraform_oci_shape }}"
oci_os_image_ocid = "{{ terraform_oci_os_image_ocid }}"
oci_instance_display_name = "{{ terraform_oci_instance_display_name }}"
oci_subnet_ocid = "{{ terraform_oci_subnet_ocid }}"
oci_data_volume_display_name = "{{ terraform_oci_data_volume_display_name }}"
oci_data_volume_device_file_name = "{{ terraform_oci_data_volume_device_file_name }}"
oci_sparse_volume_display_name = "{{ terraform_oci_sparse_volume_display_name }}"
oci_sparse_volume_device_file_name = "{{ terraform_oci_sparse_volume_device_file_name }}"

limit_boxes = "{{ terraform_limit_boxes }}"
limit_num_boxes = "{{ terraform_limit_num_boxes }}"

ssh_config_pubkey_file = "{{ kdevops_terraform_ssh_config_pubkey_file }}"
ssh_config_user = "{{ kdevops_terraform_ssh_config_user }}"
ssh_config = "{{ sshconfig }}"
ssh_config_update = "{{ kdevops_terraform_ssh_config_update }}"
ssh_config_use_strict_settings = "{{ kdevops_terraform_ssh_config_update_strict }}"
ssh_config_backup = "{{ kdevops_terraform_ssh_config_update_backup }}"

ansible_provision = "{{ kdevops_terraform_ansible_provision }}"
ansible_inventory = "{{ kdevops_terraform_ansible_inventory }}"
ansible_provision_playbook = "{{ kdevops_ansible_provision_playbook }}"

