if KDEVOPS_WORKFLOW_ENABLE_GITR

choice
	prompt "The target file system type to be tested"
	default GITR_BTRFS

config GITR_XFS
	bool "xfs"
	help
	  Run the git regression suite on an xfs file system.

config GITR_BTRFS
	bool "btrfs"
	help
	  Run the git regression suite on a btrfs file system.

config GITR_EXT4
	bool "ext4"
	help
	  Run the git regression suite on an ext4 file system.

config GITR_NFS
	bool "nfs"
	help
	  Run the git regression suite on an NFS mount.

config GITR_TMPFS
	bool "tmpfs"
	help
	  Run the git regression suite on a tmpfs file system.

endchoice

if GITR_XFS
menu "Configure how to test XFS"
source "workflows/gitr/xfs/Kconfig"
endmenu
endif # GITR_XFS

if GITR_BTRFS
menu "Configure how to test btrfs"
source "workflows/gitr/btrfs/Kconfig"
endmenu
endif # GITR_BTRFS

if GITR_EXT4
menu "Configure how to test ext4"
source "workflows/gitr/ext4/Kconfig"
endmenu
endif # GITR_EXT4

if GITR_NFS
menu "Configure how nfs should be tested"
source "workflows/gitr/nfs/Kconfig"
endmenu
endif # GITR_NFS

if GITR_TMPFS
menu "Configure how tmpfs should be tested"
source "workflows/gitr/tmpfs/Kconfig"
endmenu
endif # GITR_TMPFS

config GITR_MNT
	string "Where to mount the file system under test"
	default "/gitr"
	help
	  The directory over which to mount the file system under test.

config GITR_REPO
	string "The git tool repository to clone"
	default "https://git.kernel.org/pub/scm/git/git.git"
	help
	  The git tool repository to clone.

config GITR_REPO_COMMIT
	string "The version of git to check out"
	default "v2.43.0"
	help
	  The commit to be used for the test.

if KDEVOPS_WORKFLOW_DEDICATE_GITR

config GITR_ALL_TESTS
	bool "Run all available git regression tests"
	default y
	help
	  Say Y here if you simply want to run the full git
	  regression suite. This is the default.

	  If you would like to run only specific individual tests,
	  say N here, and fill in the GITR_TEST_LIST option below.

config GITR_TEST_LIST
	string "List of regression tests to run"
	default ""
	depends on !GITR_ALL_TESTS
	help
	  This option specifies a blank-separated list of specific
	  individual regression tests that can be run with "make
	  gitr-baseline" and its brethren targets.

	  You can find a list of scripts that can be run in the t/
	  directory of the git repo.

endif # KDEVOPS_WORKFLOW_DEDICATE_GITR

endif # KDEVOPS_WORKFLOW_ENABLE_GITR
