*.swp
*.o
*.retry

# You can override role specific stuff on these
ansible/roles/*/vars/main.yml
extra_vars.yml
python/*.pyc
vagrant/Vagrantfile

terraform/Makefile
terraform/aws/
terraform/azure/
terraform/gce/
terraform/globals.mk
terraform/openstack/
terraform/shared.tf
