*.swp
*.o
*.retry

hosts
extra_vars.yaml
extra_vars.yml
extra_vars.json

.config
.config.old

scripts/kconfig/.mconf-cfg

vagrant/kdevops_nodes.yaml

include/

# You can override role specific stuff on these
ansible/roles/*/vars/main.yml

python/*.pyc

workflows/fstests/*/*.config

playbooks/python/workflows/fstests/__pycache__/
playbooks/python/workflows/fstests/gen_results_summary.pyc

workflows/fstests/bad_results.txt
workflows/fstests/results/
workflows/fstests/*/hosts_generated.in
