# SPDX-License-Identifier: copyleft-next-0.3.1
#
# For a description of the syntax of this configuration file, see:
# https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt

mainmenu "$(PROJECT) $(PROJECTRELEASE)"

config HAVE_KDEVOPS_CUSTOM_DEFAULTS
	bool
	default n

config NEEDS_LOCAL_DEVELOPMENT_PATH
	bool
	default n

config KDEVOPS_FIRST_RUN
	bool "Is this your first time running kdevops on this system?"
	default n
	help
	  When you run kdevops for the first time we can enable options
	  to help you install software you may need, as well as do sanity
	  checks for you. Enabling this option will set to the default to "y"
	  for a series of entries which will help you with this first run.
	  Enabling these are not required, they do however help.

source "kconfigs/Kconfig.distro"

menu "Target architecture"
source "kconfigs/arch/Kconfig"
endmenu

menu "SSH update configuration"
source "kconfigs/Kconfig.ssh"
endmenu

source "kconfigs/Kconfig.extra_storage"
source "kconfigs/Kconfig.git_sources"
source "kconfigs/Kconfig.email"
source "kconfigs/Kconfig.hypervisor"
source "kconfigs/Kconfig.mirror"

config LOCAL_DEVELOPMENT_PATH
	string "The path to place source code on localhost if we building things"
	default $(shell, echo $HOME/devel/)
	depends on NEEDS_LOCAL_DEVELOPMENT_PATH
	help
	  The path where kdevops should put code we need to compile.

menu "Bring up methods"
source "kconfigs/Kconfig.bringup"
endmenu

menu "Bring up goals"
source "kconfigs/Kconfig.bringup.goals"
endmenu

menu "Node sysctl configuration"
source "kconfigs/Kconfig.sysctl"
endmenu

menu "Target workflows"
source "kconfigs/workflows/Kconfig"
endmenu

menu "Kdevops configuration"
source "kconfigs/Kconfig.kdevops"
endmenu
