# SPDX-License-Identifier: copyleft-next-0.3.1
#
# For a description of the syntax of this configuration file, see:
# https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt

mainmenu "$(PROJECT) $(PROJECTRELEASE)"

config KDEVOPS_FIRST_RUN
	bool "Is this your first time running kdevops on this system?"
	default n
	help
	  When you run kdevops for the first time we can enable options
	  to help you install software you may need, as well as do sanity
	  checks for you. Enabling this option will set to the default to "y"
	  for a series of entries which will help you with this first run.
	  Enabling these are not required, they do however help.

menu "Target architecture"
source "kconfigs/arch/Kconfig"
endmenu

menu "SSH update configuration"
source "kconfigs/Kconfig.ssh"
endmenu

config GIT_ALTERNATIVES
	bool "Use git trees from sources which we know only work"
	default y
	help
	  A few supported workflows require additional software to be installed.
	  An example is the fstests git tree when testing with fstests. Another
	  is the nbd (network block device) git tree which is required when
	  using blktests to allow you to compile and install the nbd server and
	  client on some distributions where these binaries not available for
	  the distribution.

	  Ideally you want to be using the latest and greatest from the
	  respective upstream project's git trees. However, sometimes using
	  the respective upstream project's git trees means you have to deal
	  with build issues. This is specially true for projects which don't
	  really have stable releases like fstests. Running into these issues
	  as developers is acceptable, we just try to fix those issues and
	  move on with life. However, if you are working to do automation of
	  testing then running into any new silly compile issues is a huge
	  detriment to your efforts.

	  To help with this, the kdevops project also has forked a few of the
	  needed repositories and keeps its own respective tree master branches
	  in a working state, so to ensure that users won't run into oddball
	  build issues. These git trees would not exist unless an issue is
	  known to exist with an existing upstream project, and so these trees
	  may also contain a small delta of fixes to address these changes.
	  The kdevops project commits to ensuring that all delta carried in
	  these trees are already submitted to their respective upstream project.

	  The kdevops project relies on two mirrors for its alternative git
	  trees:

	    * github
	    * gitlab

	  We default to using kdevop's github mirror.

	  The list of projects which kdevops currently forks is maintained
	  below:

	   * fstests
	   * nbd

	  If you don't see a git tree above, it means that this option
	  (GIT_ALTERNATIVES) will not affect how we use that tree.

	  If you are a kernel developer and don't mind running into the
	  all the bumps in the road with using all upstream projects then you
	  should just disable this. You can always disable this without
	  running 'make menuconfig' by just using the latest kernel-hacking
	  defconfig:

	    make defconfig-kernel-hacking

	  Likewise to ensure you always use the conservative options you can
	  use the kernel-testing defconfig:

	    make defconfig-kernel-testing

choice
	prompt "Alternative git tree sources"
	default GIT_LINUX_KDEVOPS_GITHUB
	depends on GIT_ALTERNATIVES

config GIT_LINUX_KDEVOPS_GITHUB
	bool "Use kdevops' github trees"
	help
	  If you enable this option then github will be used as the source
	  of the mirrored kdevops alternative trees. The list of trees
	  on github are listed here:

	  https://github.com/linux-kdevops/

config GIT_LINUX_KDEVOPS_GITLAB
	bool "Use kdevops' gitlab trees"
	help
	  If you enable this option then gitlab will be used as the source
	  of the mirrored kdevops alternative trees. The list of trees
	  on gitlab are listed here:

	  https://gitlab.com/linux-kdevops/

endchoice

menu "Bring up goals"
source "kconfigs/Kconfig.bringup.goals"
endmenu

menu "Bring up methods"
source "kconfigs/Kconfig.bringup"
endmenu

menu "Target workflows"
source "kconfigs/workflows/Kconfig"
endmenu

menu "Kdevops configuration"
source "kconfigs/Kconfig.kdevops"
endmenu
