project = "{{ terraform_gce_project_name }}"
credentials = "{{ terraform_gce_credentials }}"
region = "{{ terraform_gce_region }}"
machine_type = "{{ terraform_gce_machine_type }}"
image_name = "{{ terraform_gce_image_name }}"
scratch_disk_interface = "{{ terraform_gce_scatch_disk_type }}"

ssh_config_pubkey_file = "{{ kdevops_terraform_ssh_config_pubkey_file }}"
ssh_config_user = "{{ kdevops_terraform_ssh_config_user }}"
ssh_config = "{{ sshconfig }}"

ssh_config_update = "{{ kdevops_terraform_ssh_config_update | lower }}"
ssh_config_use_strict_settings = "{{ kdevops_terraform_ssh_config_update_strict | lower }}"
ssh_config_backup = "{{ kdevops_terraform_ssh_config_update_backup | lower }}"
