if BOOTLINUX_STABLE

choice
	prompt "Linux stable tree to use"
	default BOOTLINUX_TREE_STABLE

config BOOTLINUX_TREE_LINUS
	bool "linux"
	help
	  Use Linus Torvald's linux tree.

config BOOTLINUX_TREE_STABLE
	bool "linux-stable"
	help
	  Use the linux-stable tree.

endchoice

if BOOTLINUX_TREE_STABLE

choice
	prompt "Stable branch to use"
	default BOOTLINUX_STABLE_V60

config BOOTLINUX_STABLE_V419
	bool "linux-4.19.y"
	help
	  Automatically enable the latest supported linux-4.19.y kernel.

config BOOTLINUX_STABLE_V54
	bool "linux-5.4.y"
	help
	  Automatically enable the latest supported linux-5.4.y kernel.

config BOOTLINUX_STABLE_V510
	bool "linux-5.10.y"
	help
	  Automatically enable the latest supported linux-5.10.y kernel.

config BOOTLINUX_STABLE_V514
	bool "linux-5.14.y"
	help
	  Automatically enable the latest supported linux-5.14.y kernel.

config BOOTLINUX_STABLE_V517
	bool "linux-5.17.y"
	help
	  Automatically enable the latest supported linux-5.17.y kernel.

config BOOTLINUX_STABLE_V519
	bool "linux-5.19.y"
	help
	  Automatically enable the latest supported linux-5.19.y kernel.

config BOOTLINUX_STABLE_V60
	bool "linux-6.0.y"
	help
	  Automatically enable the latest supported linux-6.0.y kernel.

endchoice

endif # BOOTLINUX_TREE_STABLE

endif # BOOTLINUX_STABLE
