if BOOTLINUX

choice
	prompt "Type of development version of Linux to use"
	default BOOTLINUX_DEV

config BOOTLINUX_STABLE
	bool "Stable Linux releases"
	help
	  This will let you choose from stable Linux trees only.

config BOOTLINUX_DEV
	bool "Development Linux releases"
	help
	  This will let you choose from development Linux trees only.

endchoice

source "kconfigs/workflows/bootlinux/Kconfig.stable"
source "kconfigs/workflows/bootlinux/Kconfig.dev"

config BOOTLINUX_TREE_NAME
	string "Linux tree name"
	default "linux" if BOOTLINUX_TREE_LINUS
	default "linux-stable" if BOOTLINUX_TREE_STABLE
	default "linux-next" if BOOTLINUX_TREE_NEXT
	default "btrfs-devel" if BOOTLINUX_TREE_BTRFS_DEVEL

config BOOTLINUX_TREE
	string "Linux git tree URL"
	default "https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git" if BOOTLINUX_TREE_LINUS
	default "https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git" if BOOTLINUX_TREE_STABLE
	default "https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git" if BOOTLINUX_TREE_NEXT
	default "https://github.com/kdave/btrfs-devel.git" if BOOTLINUX_TREE_BTRFS_DEVEL
	help
	  The Linux git tree to use.

config BOOTLINUX_TEST_MESSAGE_ID
	bool "Test mailing list message ID"
	default n
	depends on KDEVOPS_BASELINE_AND_DEV
	select BOOTLINUX_TEST_MESSAGE_ID_INSTALL_B4 if BOOTLINUX_TEST_MESSAGE_ID
	help
	  When enabled, the b4 command from public-inbox will rebase the patches
	  contained in the message-id on top of a baseline kernel and install it
	  in the development box. A baseline kernel without the patches will be
	  installed in the baseline box. The effects of the patch on the tests
	  can then be seen as the difference between the baseline and development
	  test runs.

config BOOTLINUX_TEST_MESSAGE_ID_THREAD_ID
	string "The message ID"
	default ""
	depends on BOOTLINUX_TEST_MESSAGE_ID
	help
	  The message id that will be rebased on top of the baseline kernel in
	  the development box.

config BOOTLINUX_TEST_MESSAGE_ID_INSTALL_B4
	bool
	default n
	depends on BOOTLINUX_TEST_MESSAGE_ID
	prompt "Install b4 on development system" if BOOTLINUX_TEST_MESSAGE_ID
	help
	  When enabled, b4 will be installed using pip

config BOOTLINUX_TREE_TAG
	string "Git tree branch / tag / sha1sum to use"
	default "v4.19" if BOOTLINUX_TREE_LINUS
	default "v4.19.133" if BOOTLINUX_STABLE_V419
	default "v5.4.210" if BOOTLINUX_STABLE_V54
	default "v5.10.105" if BOOTLINUX_STABLE_V510
	default "v5.14.4" if BOOTLINUX_STABLE_V514
	default "v5.17-rc7" if BOOTLINUX_STABLE_V517
	default "v5.19-rc4" if BOOTLINUX_STABLE_V519
	default "v6.0-rc1" if BOOTLINUX_STABLE_V60
	default "next-20220816" if BOOTLINUX_TREE_NEXT
	default "for-next" if BOOTLINUX_TREE_BTRFS_DEVEL
	help
	  The git branch / tag or sha1sum to use.

config BOOTLINUX_TREE_LOCALVERSION
	string "Linux local version to use"
	help
	  The Linux local version to use (for uname).


config BOOTLINUX_SHALLOW_CLONE
	bool "Shallow git clone"
	default n
	help
	  If enabled the git tree cloned with be cloned using a shallow tree
	  with history truncated. You want to enable this if you really don't
	  care about the git history on the targets which will clone Linux.
	  Using a full shallow tree will save you about 5 minutes in time.
	  You want to say no here (the default) if you are using the targets
	  for actual kernel development. You want to enable this if you are
	  just using the targets as dummy target runners and don't expect to
	  be using 'git log' on the target guests.

config BOOTLINUX_SHALLOW_CLONE_DEPTH
	int "Shallow git clone depth"
	default 1
	depends on BOOTLINUX_SHALLOW_CLONE
	help
	  Create a shallow clone with a history truncated to the specified
	  number or revisions. The minimum possible value is 1, otherwise
	  ignored. Needs git>=1.9.1 to work correctly.

endif # BOOTLINUX
