if BOOTLINUX

choice
	prompt "Type of development version of Linux to use"
	default BOOTLINUX_DEV

config BOOTLINUX_STABLE
	bool "Stable Linux releases"
	help
	  This will let you choose from stable Linux trees only.

config BOOTLINUX_DEV
	bool "Development Linux releases"
	help
	  This will let you choose from development Linux trees only.

endchoice

source "kconfigs/workflows/bootlinux/Kconfig.stable"
source "kconfigs/workflows/bootlinux/Kconfig.dev"

config BOOTLINUX_TREE
	string "Linux git tree URL"
	default "git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git" if BOOTLINUX_TREE_LINUS
	default "git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git" if BOOTLINUX_TREE_STABLE
	default "git://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git" if BOOTLINUX_TREE_NEXT
	help
	  The Linux git tree to use.

config BOOTLINUX_TREE_VERSION
	string "Git tree branch / tag / sha1sum to use"
	default "4.19" if BOOTLINUX_TREE_LINUS
	default "4.19.133" if BOOTLINUX_TREE_STABLE
	default "next-20200701" if BOOTLINUX_TREE_NEXT
	help
	  The git branch / tag or sha1sum to use.

config BOOTLINUX_MAKE_CMD_OVERRIDE
	bool "Override default make command to build Linux"
	default n
	help
	  The bootlinux ansible relies on the following:
	    {{ make }} -j{{ ansible_processor_vcpus }}
	  However this is known to not work as expected with containers.
	  The fix is in commit 34db57a47f875d11c4068567b9ec7ace174ec4cf
	  ("introduce fact "ansible_processor_nproc": number of usable
	  vcpus #66569") but it will be a while before we see this propagate.
	  This will be needed for containers. In the meantime you can
	  override the make command with this option.

if BOOTLINUX_MAKE_CMD_OVERRIDE

config BOOTLINUX_MAKE_CMD
	string "The make command to use when building linux"
	default "make -j 16" if TERRAFORM_AWS_INSTANCE_M5AD_4XLARGE
	default "make -j 1" if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS1_V2
	default "make -j 4" if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	default "make -j 8" if VAGRANT
	help
	  The actual make command to use when building Linux. You want to
	  optimize this as per the number of cores you have.

endif

config BOOTLINUX_DATA_DEVICE
	string "The device to use to create the data parition for linux"
	default "/dev/nvme0n1" if VAGRANT
	default "/dev/nvme1n1" if TERRAFORM_AWS_INSTANCE_M5AD_4XLARGE
	default "/dev/sdc" if TERRAFORM_AZURE
	help
	  The device name to use to create the data partition used to create
	  to use for where we will place the git clone of Linux.

config BOOTLINUX_DATA_PATH
	string "Directory path to place the linux git clone"
	default "/data"
	help
	  When we clone the linux git tree we will place it in another location
	  other than your home directory. This is done in case you want to
	  refresh the OS and not do away with all your developmente work.
	  Use this to specify the path which we will use to place your
	  development work.

config BOOTLINUX_DATA_USER
	string "The username to use to chown on the target directory"
	default "vagrant" if VAGRANT
	default TERRAFORM_SSH_CONFIG_USER if TERRAFORM
	help
	  When we clone the linux git tree we will place it in another location
	  other than your home directory. This is done in case you want to
	  refresh the OS and not do away with all your developmente work.

config BOOTLINUX_DATA_GROUP
	string "The group to use to chown on the target directory"
	default "vagrant" if VAGRANT
	default TERRAFORM_SSH_CONFIG_USER if TERRAFORM_AWS_AMI_DEBIAN
	default "users" if !TERRAFORM_AWS_AMI_DEBIAN
	help
	  The group ownership to use for the data directory where linux will
	  be cloned on. We default to "vagrant" if you are using vagrant,
	  otherwise we rely on the the assumption your distribution has the
	  "users" group created.

choice
	prompt "Filesystem for the data partition for the Linux clone"
	default BOOTLINUX_DATA_FSTYPE_XFS

config BOOTLINUX_DATA_FSTYPE_XFS
	bool "xfs"
	help
	  Use the xfs filesystem.

config BOOTLINUX_DATA_FSTYPE_EXT4
	bool "ext4"
	help
	  Use the ext4 filesystem.

config BOOTLINUX_DATA_FSTYPE_BTRFS
	bool "btrfs"
	help
	  Use the btrfs filesystem.

endchoice

config BOOTLINUX_DATA_FSTYPE
	string "The filesystem target to use"
	default "xfs" if BOOTLINUX_DATA_FSTYPE_XFS
	default "ext4" if BOOTLINUX_DATA_FSTYPE_EXT4
	default "btrfs" if BOOTLINUX_DATA_FSTYPE_BTRFS
	help
	  The filesystem to use for the data partition.

config BOOTLINUX_DATA_LABEL
	string "The filesystem label to use"
	default "data"
	help
	  The filesystem label to create and later mount the partition on
	  the /etc/fstab file for the data partition. Since the device can
	  be *anything*, we use a label to ensure we find the partition.

endif # BOOTLINUX
