# SPDX-License-Identifier: copyleft-next-0.3.1
if VAGRANT_FEDORA

config VAGRANT_FEDORA_BOX_STRING
	string "Vagrant box string"
	default "fedora/38-cloud-base"
	help
	  This is the box string that vagrant should use. This is typically
	  something like fedora/??-cloud-base or generic/rhel?. We default
	  to the latest Fedora cloud-base release.

config VAGRANT_FEDORA_OLD_RELEASE
	bool "Is this an old release (pre-Fedora 32)?"
	default n
	help
	  XFS on older Fedora releases lacked support for certain
	  features. Enabling this will disable testing certain
	  configurations by default in the fstests workflow.

config RHEL_REGISTER
	bool "Register the guests with Red Hat?"
	default n
	help
	  Official RHEL installations require a subscription before you can download
	  packages from their core repos. Enable this if you're deploying an official
	  RHEL cloud image (e.g. generic/rhel9).

config RHEL_ORG_ID
	string "Red Hat Organization Identifier"
	depends on RHEL_REGISTER
	default ""
	help
	  Enter the Red Hat Organizational ID for your subscription here.

config RHEL_ACTIVATION_KEY
	string "Red Hat Activation Key"
	depends on RHEL_REGISTER
	default ""
	help
	  Enter the Activation Key to use when registering systems.

config VAGRANT_FEDORA_NEW_RELEASE
	bool
	default y
	depends on !VAGRANT_FEDORA_OLD_RELEASE
	select HAVE_DISTRO_XFS_SUPPORTS_CRC if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_EXTERNAL_LOG if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_REFLINKS if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_BIGBLOCKS if FSTESTS_XFS

endif # VAGRANT_FEDORA
