# SPDX-License-Identifier: copyleft-next-0.3.1
if VAGRANT_REDHAT_GENERIC

choice
	prompt "Redhat release to use"
	default VAGRANT_REDHAT_GENERIC_RHEL8_X86_64

config VAGRANT_REDHAT_GENERIC_RHEL8_X86_64
	bool "generic/rhel8"
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the target guest to generic/rhel8.
	  Note, that there is nothing one can do with this release other than
	  get the base release. Registration still needs to be worked on.

config VAGRANT_REDHAT_GENERIC_RHEL9_X86_64
	bool "generic/rhel9"
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the target guest to generic/rhel9.
	  Note, that there is nothing one can do with this release other than
	  get the base release. Registration still needs to be worked on.

endchoice

config VAGRANT_REDHAT_GENERIC_BOX_SHORT
	string
	default "rhel8" if VAGRANT_REDHAT_GENERIC_RHEL8_X86_64
	default "rhel9" if VAGRANT_REDHAT_GENERIC_RHEL9_X86_64


endif # VAGRANT_REDHAT_GENERIC
