# SPDX-License-Identifier: copyleft-next-0.3.1
if VAGRANT_FEDORA

choice
	prompt "Fedora release to use"
	default VAGRANT_FEDORA_X86_64_35_CLOUD_BASE

config VAGRANT_FEDORA_X86_64_35_CLOUD_BASE
	bool "fedora/35-cloud-base"
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the target guest to fedora/35-cloud-base
	  release 35.20211026.0

endchoice

if VAGRANT_FEDORA_X86_64_35_CLOUD_BASE

choice
	prompt "fedora/35-cloud-base version to use"
	default VAGRANT_FEDORA_35_35202110260

config VAGRANT_FEDORA_35_35202110260
	bool "fedora/35-beta-cloud-base 35.20211026.0"
	select HAVE_VAGRANT_BOX_VERSION
	select HAVE_DISTRO_XFS_SUPPORTS_CRC if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_EXTERNAL_LOG if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_REFLINKS if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_BIGBLOCKS if FSTESTS_XFS
	help
	  This option will set the target guest to fedora/35-beta-cloud-base
	  release 35.20211026.0

endchoice

endif # VAGRANT_FEDORA_X86_64_35_CLOUD_BASE

endif # VAGRANT_FEDORA
