# SPDX-License-Identifier: GPL-2.0
if VAGRANT_DEBIAN

choice
	prompt "Debian release to use"
	default VAGRANT_DEBIAN_BUSTER64

config VAGRANT_DEBIAN_BUSTER64
	bool "debian/buster64"
	select HAVE_DISTRO_XFS_SUPPORTS_CRC if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_EXTERNAL_LOG if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_REFLINKS if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_BIGBLOCKS if FSTESTS_XFS
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the target guest to debian/buster64.

endchoice

config VAGRANT_DEBIAN_BOX_SHORT
	string
	default "buster64" if VAGRANT_DEBIAN_BUSTER64

endif # VAGRANT_DEBIAN
