# SPDX-License-Identifier: copyleft-next-0.3.1
if VAGRANT_KDEVOPS

choice
	prompt "Kdevops release to use"
	default VAGRANT_KDEVOPS_DEBIAN_TESTING64_XFS_20230427

config VAGRANT_KDEVOPS_DEBIAN_TESTING64_XFS_20230427
	bool "linux-kdevops/debian-xfs-20230427"
	select HAVE_VAGRANT_BOX_VERSION
	select HAVE_DISTRO_XFS_SUPPORTS_CRC if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_EXTERNAL_LOG if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_REFLINKS if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_BIGBLOCKS if FSTESTS_XFS
	select HAVE_SUPPORTS_PURE_IOMAP
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the target guest to
	  linux-kdevops/debian-xfs-20230423 which is based on
	  debian-testing and only uses XFS for the root fs.

config VAGRANT_KDEVOPS_DEBIAN_TESTING64_NEXT_20220629
	bool "linux-kdevops/debian-next-20220629"
	select HAVE_VAGRANT_BOX_VERSION
	select HAVE_DISTRO_XFS_SUPPORTS_CRC if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_EXTERNAL_LOG if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_REFLINKS if FSTESTS_XFS
	select HAVE_DISTRO_XFS_SUPPORTS_BIGBLOCKS if FSTESTS_XFS
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the target guest to
	  linux-kdevops/debian-next-20220629 which is based on
	  debian-testing. It just has linux-next next-20220629.

endchoice

config VAGRANT_DEBIAN_BOX_SHORT
	string
	default "debian-next-20220629" if VAGRANT_KDEVOPS_DEBIAN_TESTING64_NEXT_20220629
	default "debian-xfs-20230427" if VAGRANT_KDEVOPS_DEBIAN_TESTING64_XFS_20230427

endif # VAGRANT_KDEVOPS
