# SPDX-License-Identifier: copyleft-next-0.3.1

config KDEVOPS_LIBVIRT_PCIE_PASSTHROUGH
	bool "Enable libvirt PCIE passthrough support"
	default n
	help
	  Enable this if you want to enable PCI-E passthrough onto target
	  guests.

if KDEVOPS_LIBVIRT_PCIE_PASSTHROUGH

choice
	prompt "What guest target type to passthrough to"
	default KDEVOPS_LIBVIRT_PCIE_PASSTHROUGH_TYPE_FIRST

config KDEVOPS_LIBVIRT_PCIE_PASSTHROUGH_TYPE_FIRST
	bool "Onto the first guest"
	help
	  Select this option if you want to passthrough PCI-E devices selected
	  onto the first guest that kdevops generates on the nodes list.

config KDEVOPS_LIBVIRT_PCIE_PASSTHROUGH_TYPE_SPECIFIC
	bool "Onto a specific host name you'll specify"
	help
	  Select this option if you want to passthrough PCI-E devices onto
	  a guest hostname. This means you have foresight into the future
	  generated kdevops nodes that will be available and you will manually
	  specify a target hostname you want to use to pass on the selected
	  PCI-E devices to.

endchoice

config KDEVOPS_LIBVIRT_PCIE_PASSTHROUGH_TARGET_HOSTNAME
	string "Guest target hostname to passthrough PCI-E devices to"
	default "enter-valid-hostname"
	depends on KDEVOPS_LIBVIRT_PCIE_PASSTHROUGH_TYPE_SPECIFIC
	help
	  Set this to the hostname of the target guest you want to passthrough
	  the enabled PCI-E devices to.

menu "Select which PCI-E devices to passthrough"
source "vagrant/Kconfig.passthrough_libvirt.generated"
endmenu

endif # KDEVOPS_LIBVIRT_PCIE_PASSTHROUGH
