terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.tfstate.lock.info
crash.log

*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
*/.terraform.tfstate.lock.info

terraform-provider-yaml_*
*/terraform-provider-yaml_*
*/crash.log
