if TERRAFORM

menu "Terraform cloud provider configuration"
source "terraform/Kconfig.providers"
endmenu

menu "Terraform ssh configuration"
source "terraform/Kconfig.ssh"
endmenu

menu "Terraform limits"
source "terraform/Kconfig.limits"
endmenu

endif # TERRAFORM
