---
- name: Set generic SUSE specific distro facts
  set_fact:
    is_sle: '{{ (ansible_distribution == "SLES") or (ansible_distribution == "SLED") }}'
    is_leap: '{{ "Leap" in ansible_distribution }}'
    is_tumbleweed: '{{ "openSUSE Tumbleweed" == ansible_distribution }}'

# SLE has no good package for terraform, and the one from package hub tends to be old
- name: Override default setting for force_install_zip for SLE
  set_fact:
    force_install_zip: true
  when:
    - is_sle

- name: Verify Terraform installation
  command: "which terraform"
  register: terraform_present
  changed_when: terraform_present.rc == 1
  failed_when: terraform_present.rc != 0 and terraform_present.rc != 1
  tags: [ 'terraform', 'verify' ]

- name: Download Terraform from the latest release and install locally
  become: yes
  become_method: sudo
  unarchive:
    src: https://releases.hashicorp.com/terraform/{{ terraform_version }}/terraform_{{ terraform_version }}_linux_amd64.zip
    dest: /usr/local/bin
    remote_src: yes
  when:
    - force_install_zip|bool
    - force_install_if_present|bool or (is_sle or is_leap and terraform_present.rc != 0)

- name: Install vagrant and vagrant-libvirt from your tumbleweed repository
  become: yes
  become_method: sudo
  zypper:
    name:
      - terraform
  when:
    - not force_install_zip|bool
    - not force_install_if_present|bool
    - terraform_present.rc != 0
    - is_tumbleweed
