{%- macro gen_pci_passthrough_each(n, device_list) -%}
{%- set found_pcie_devices_on_node = False -%}
{%- for d in device_list %}
{%- if n == d.target_guest -%}
{%- if not found_pcie_devices_on_node -%}
{% set found_pcie_devices_on_node = True %}
    pcipassthrough:
{% endif %}
      passthrough{{ loop.index | string }}:
        domain: {{ d.domain }}
        bus: {{ d.bus }}
        slot: {{ d.slot }}
        function: {{ d.function }}
{% endif %}
{% endfor -%}
{%- endmacro -%}
{%- macro gen_pci_passthrough( device_list ) -%}
{%- for d in device_list %}
      passthrough{{ loop.index | string }}:
        domain: {{ d.domain }}
        bus: {{ d.bus }}
        slot: {{ d.slot }}
        function: {{ d.function }}
{% endfor -%}
{%- endmacro -%}
{% macro gen_node(n, enable_second_interface, last_octet, this_index, passthrough_enable, passthrough_target_type, passthrough_target, passthrough_devices ) %}
  - name: {{ n }}
{% if enable_second_interface %}
    ip: 172.17.8.{{ last_octet | string }}
{% endif %}
{% if passthrough_enable and passthrough_devices and passthrough_target_type == "first_guest" and this_index == 1 %}
    pcipassthrough:
{{ gen_pci_passthrough(passthrough_devices) -}}
{% elif passthrough_enable and passthrough_devices and passthrough_target_type == "all_one_guest_name" and n == passthrough_target  %}
    pcipassthrough:
{{ gen_pci_passthrough(passthrough_devices) -}}
{% elif passthrough_enable and passthrough_devices and passthrough_target_type == "each_per_device" %}
{{ gen_pci_passthrough_each(n, passthrough_devices) -}}
{% endif %}
{% endmacro %}
{% macro gen_nodes_list(nodes_list, dev, enable_second_interface, octet, passthrough_enable, passthrough_target_type, passthrough_target, passthrough_devices) %}
{%- for node in nodes_list -%}
{{ gen_node(node, enable_second_interface, octet + loop.index, loop.index, passthrough_enable, passthrough_target_type, passthrough_target, passthrough_devices) }}
{%- endfor -%}
{% endmacro %}
