{% from "gen_nodes_list.j2" import gen_nodes_list %}
{{ gen_nodes_list( nodes, kdevops_baseline_and_dev, True, 100,
		   pcie_passthrough_enable,
		   pcie_passthrough_target_type,
		   pcie_passthrough_target,
		   pcie_passthrough_devices ) }}
