aws_region = "{{ terraform_aws_region }}"
aws_availability_region = "{{ terraform_aws_av_region }}"
aws_name_search = "{{ terraform_aws_ns }}"
aws_virt_type = "{{ terraform_aws_virt_type }}"
aws_ami_owner = "{{ terraform_aws_ami_owner }}"
aws_instance_type = "{{ terraform_aws_instance_type }}"

ssh_config_pubkey_file = "{{ kdevops_terraform_ssh_config_pubkey_file }}"
ssh_config_user = "{{ kdevops_terraform_ssh_config_user }}"
ssh_config = "{{ sshconfig }}"

ssh_config_update = "{{ kdevops_terraform_ssh_config_update | lower }}"
ssh_config_use_strict_settings = "{{ kdevops_terraform_ssh_config_update_strict  | lower }}"
ssh_config_backup = "{{ kdevops_terraform_ssh_config_update_backup | lower }}"
