if KDEVOPS_WORKFLOW_ENABLE_LTP

if WORKFLOWS_DEDICATED_WORKFLOW

menu "Test groups to enable"

config LTP_TESTS_CVE
	bool "CVE group"
	help
	  Run the CVE regression tests.

config LTP_TESTS_FS
	bool "FS group"
	help
	  Run the file system-related unit tests.

config LTP_TESTS_FS_BIND
	bool "Bind mount group"
	help
	  Run the file system bind mount unit tests.

config LTP_TESTS_FS_PERMS_SIMPLE
	bool "FS simple permission group"
	help
	  Run the file system permission unit tests.

config LTP_TESTS_FS_READONLY
	bool "FS read-only group"
	help
	  Run the file system read-only unit tests.

config LTP_TESTS_NFS
	bool "NFS group"
	help
	  Run the NFS, NFS locking, and RPC unit tests.

config LTP_TESTS_NOTIFY
	bool "inotify and fanotify group"
	help
	  Run the inotify and fanotify unit tests.

config LTP_TESTS_RPC
	bool "Traditional SunRPC group"
	help
	  Run SunRPC library unit tests.

config LTP_TESTS_SMACK
	bool "SMACK tests"
	help
	  Run the SMACK unit group.

config LTP_TESTS_TIRPC
	bool "Transport-Independent SunRPC group"
	help
	  Run the TI-RPC library unit tests.

endmenu

endif # WORKFLOWS_DEDICATED_WORKFLOW

config LTP_REPO
	string "The ltp repository to clone"
	default "https://github.com/linux-test-project/ltp.git"
	help
	  The ltp repository to clone.

config LTP_REPO_COMMIT
	string "The version of ltp to check out"
	default "20240129"
	help
	  The reference (tag, commit hash, or branch) to be checked out
	  and used for the test.

endif # KDEVOPS_WORKFLOW_ENABLE_LTP
