if TERRAFORM_AZURE

choice
	prompt "Choose Azure resource location to use"
	default TERRAFORM_AZURE_WEST_US

config TERRAFORM_AZURE_WEST_US
	bool "westus"
	help
	  This option will set the azure resource location to westus.

endchoice

config TERRAFORM_AZURE_RESOURCE_LOCATION
	string "Azure resource location"
	default "westus" if TERRAFORM_AZURE_WEST_US
	help
	  This option will set the azure resource location.

choice
	prompt "Azure vmsize"
	default TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2

config TERRAFORM_AZURE_VM_SIZE_STANDARD_DS1_V2
	bool "Standard_DS1_v2"
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the azure vm image size to Standard_DS1_v2.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	bool "Standard_DS3_v2"
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the azure vm image size to Standard_DS3_v2.

endchoice

config TERRAFORM_AZURE_VM_SIZE
	string "Azure vm size"
	default "Standard_DS1_v2" if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS1_V2
	default "Standard_DS3_v2" if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	help
	  This option will set the azure vm image size.

choice
	prompt "Azure managed disk type"
	default TERRAFORM_AZURE_MANAGED_DISK_PREMIUM_LRS

config TERRAFORM_AZURE_MANAGED_DISK_PREMIUM_LRS
	bool "Premium_LRS"
	help
	  This option will set the azure vm image size to Standard_DS1_v2.

endchoice

config TERRAFORM_AZURE_MANAGED_DISK_TYPE
	string "Azure managed disk type"
	default "Premium_LRS" if TERRAFORM_AZURE_MANAGED_DISK_PREMIUM_LRS
	help
	  This option will set azure managed disk type.

choice
	prompt "Azure image publisher"
	default TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN

config TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN
	bool "Debian"
	help
	  This option will set the image publisher to Debian.

endchoice

config TERRAFORM_AZURE_IMAGE_PUBLISHER
	string "The azure image publisher"
	default "Debian" if TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN
	help
	  This option will set path to the image publisher.

if TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN

choice
	prompt "Azure image offer"
	default TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10 if DISTRO_DEBIAN

config TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10
	bool "debian-10"
	depends on TARGET_ARCH_X86_64
	help
	  This option sets the image offer from credativ to debian-10.

endchoice

if TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10

choice
	prompt "Azure debian image SKU"
	default TERRAFORM_AZURE_IMAGE_DEBIAN_SKU_10

config TERRAFORM_AZURE_IMAGE_DEBIAN_SKU_10
	bool "10"
	help
	  This option sets the image sku to 10.

endchoice

endif # TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10

endif

config TERRAFORM_AZURE_IMAGE_OFFER
	string "Azure image offer to use"
	default "debian-10" if TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10
	help
	  This option will set image offer. For more debian offers read:

	  https://wiki.debian.org/Cloud/MicrosoftAzure

config TERRAFORM_AZURE_IMAGE_SKU
	string "Azure image SKU"
	default "10" if TERRAFORM_AZURE_IMAGE_DEBIAN_SKU_10
	help
	  This option will set azure image sku to use.

config TERRAFORM_AZURE_IMAGE_VERSION
	string "Azure image version"
	default "latest"
	help
	  This option will set azure image version to use. Its a good idea to
	  use "latest" here.

config TERRAFORM_AZURE_CLIENT_CERT_PATH
	string "Azure client certificate path"
	default "./service-principal.pfx"
	help
	  Path to the service principal PFX file for this application. For
	  details on how to create this and associate it with your account
	  read this:

	  https://www.terraform.io/docs/providers/azurerm/auth/service_principal_client_certificate.html
	  https://github.com/terraform-providers/terraform-provider-azurerm.git

	  But the skinny of of how to create it:

	  openssl req -newkey rsa:4096 -nodes -keyout "service-principal.key" -out "service-principal.csr"
	  openssl x509 -signkey "service-principal.key" -in "service-principal.csr" -req -days 365 -out "service-principal.crt"
	  openssl pkcs12 -export -out "service-principal.pfx" -inkey "service-principal.key" -in "service-principal.crt"

	  Then use the documentation to get your tentant ID, the applicaiton id,
	  the subscription ID.

config TERRAFORM_AZURE_CLIENT_CERT_PASSWD
	string "Azure client certificate password"
	default "some-password"
	help
	  The password to the service principal PFX file.

config TERRAFORM_AZURE_SUBSCRIPTION_ID
	string "Azure subscription ID"
	default "anotherGUID"
	help
	  The subscription ID to use.

config TERRAFORM_AZURE_TENANT_ID
	string "Azure tenant ID"
	default "anotherGUID"
	help
	  The tentant ID to use.

config TERRAFORM_AZURE_APPLICATION_ID
	string "Azure client application ID"
	default "someGUID"
	help
	  The application ID to use.

config TERRAFORM_AZURE_DATA_VOLUME_DEVICE_FILE_NAME
	string "/dev/sdc"

endif # TERRAFORM_AZURE
