
module nfsd_policy 1.0;

require {
	type kernel_t;
	type public_content_rw_t;
	class blk_file { create execute getattr link read rename setattr unlink write };
	class chr_file { create execute getattr link read rename setattr unlink write };
	class sock_file execute;
	class lnk_file execute;
	class fifo_file execute;
}

#============= kernel_t ==============

allow kernel_t public_content_rw_t:blk_file { create execute getattr link read rename setattr unlink write };
allow kernel_t public_content_rw_t:chr_file { create execute getattr read rename setattr unlink write };
allow kernel_t public_content_rw_t:chr_file link;
allow kernel_t public_content_rw_t:fifo_file execute;
allow kernel_t public_content_rw_t:lnk_file execute;
allow kernel_t public_content_rw_t:sock_file execute;
