[all]
{% for s in fstests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ s }}
{% if kdevops_baseline_and_dev %}
{{ kdevops_host_prefix }}-{{ s }}-dev
{% endif %}
{% endfor %}
[all:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[baseline]
{% for s in fstests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ s }}
{% endfor %}
[baseline:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[dev]
{% if kdevops_baseline_and_dev %}
  {% for s in fstests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ s }}-dev
  {% endfor %}
{% endif %}
[dev:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
{% if kdevops_nfsd_enable %}
[nfsd]
{{ kdevops_hosts_prefix }}-nfsd
[nfsd:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
{% endif %}
{% if kdevops_krb5_enable %}
[kdc]
{{ kdevops_hosts_prefix }}-kdc
[kdc:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[krb5]
{% for s in fstests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ s }}
{% endfor %}
{% if kdevops_nfsd_enable %}
{{ kdevops_hosts_prefix }}-nfsd
{% endif %}
[krb5:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
{% endif %}
