{#
We use lstrip_blocks to ensure this file can be read by developers and use
proper identation. We don't need identation for the ansible hosts file.

Each workflow which has its own custom ansible host file generated should use
its own jinja2 template file and define its own ansible task for its generation.
#}
{% if kdevops_workflows_dedicated_workflow %}
[all]
write-your-own-template-for-your-workflow-and-task
{% else %}
[all]
{{ kdevops_hosts_prefix }}
{% if kdevops_baseline_and_dev == True %}
{{ kdevops_hosts_prefix }}-dev
{% endif %}
{% if nfsd_threads is defined %}
{{ kdevops_hosts_prefix }}-nfsd
{% endif %}
[all:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[baseline]
{{ kdevops_hosts_prefix }}
[baseline:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[dev]
{% if kdevops_baseline_and_dev %}
{{ kdevops_hosts_prefix }}-dev
{% endif %}
[dev:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[nfsd]
{% if nfsd_threads is defined %}
{{ kdevops_hosts_prefix }}-nfsd
{% endif %}
[nfsd:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
{% endif %}
