[all]
{{ kdevops_hosts_prefix }}-nfsd
[all:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[baseline]
{{ kdevops_hosts_prefix }}-nfsd
[baseline:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[nfsd]
{{ kdevops_hosts_prefix }}-nfsd
[nfsd:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
