config GITR_BTRFS_DEVICE
	string
	default "/dev/disk/by-id/nvme-QEMU_NVMe_Ctrl_kdevops1" if LIBVIRT && LIBVIRT_EXTRA_STORAGE_DRIVE_NVME
	default "/dev/disk/by-id/virtio-kdevops1" if LIBVIRT && LIBVIRT_EXTRA_STORAGE_DRIVE_VIRTIO
	default "/dev/disk/by-id/ide-kdevops1" if LIBVIRT && LIBVIRT_EXTRA_STORAGE_DRIVE_IDE
	default "/dev/nvme2n1" if TERRAFORM_AWS_INSTANCE_M5AD_4XLARGE
	default "/dev/nvme1n1" if TERRAFORM_GCE
	default "/dev/sdd" if TERRAFORM_AZURE

config GITR_BTRFS_LABEL
	string "The file system label to use"
	default "gitr"
	help
	  The file system label that marks the file system under test.

config GITR_BTRFS_MOUNT_OPTS
	string "The file system mount options to use"
	default "defaults"
	help
	  The mount options to use when mounting the file system under test.
