if TERRAFORM_GCE

config TERRAFORM_GCE_PROJECT_NAME
	string "GCE Project name"
	default "kdevops"
	help
	  This option will set the GCE project name. This name must match
	  the actual name of the project you have created using the
	  GCE interface.

config TERRAFORM_GCE_REGION_LOCATION
	string "GCE region location"
	default "us-west2-c"
	help
	  This option will set the GCE region location. For more examples:
	  https://cloud.google.com/compute/docs/regions-zones/

	  Documentation: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance#zone

choice
	prompt "Choose GCE Machine type"
	default TERRAFORM_GCE_MACHINE_N1_STANDARD_8

config TERRAFORM_GCE_MACHINE_N1_STANDARD_1
	bool "n1-standard-1"
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the GCE machine type to n1-standard-1.

config TERRAFORM_GCE_MACHINE_N1_STANDARD_8
	bool "n1-standard-8"
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the GCE machine type to n1-standard-8.

endchoice

config TERRAFORM_GCE_MACHINE_TYPE
	string
	default "n1-standard-1" if TERRAFORM_GCE_MACHINE_N1_STANDARD_1
	default "n1-standard-8" if TERRAFORM_GCE_MACHINE_N1_STANDARD_8
	help
	  This option will set the GCE machine type. For other machine types,
	  refer to this page:

	  https://cloud.google.com/compute/docs/machine-types

	  Documentation: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance#machine_type

config TERRAFORM_GCE_SCRATCH_DISK_INTERFACE
	string "GCE scratch disk interface to use"
	default "NVME"
	help
	  This option will set GCE scratch disk interface.

	  Documentation: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance#scratch_disk

config TERRAFORM_GCE_IMAGE
	string "GCE image to use"
	default "debian-cloud/debian-10"
	help
	  This option will set GCE image to debian-cloud/debian-10.

	  Documentation: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance#image

config TERRAFORM_GCE_JSON_CREDENTIALS_PATH
	string "GCE json credential file path"
	default "account.json"
	help
	  Path to the GCE json credentials file. Refer to the following links
	  for documentation about this:

	    o https://www.terraform.io/docs/providers/google/getting_started.html
	    o https://www.terraform.io/docs/providers/google/index.html
	    o https://cloud.google.com/community/tutorials/getting-started-on-gcp-with-terraform
	    o https://cloud.google.com/iam/docs/creating-managing-service-account-keys
	    o https://cloud.google.com/iam/docs/granting-roles-to-service-accounts#granting_access_to_a_service_account_for_a_resource

config TERRAFORM_GCE_DATA_VOLUME_DEVICE_FILE_NAME
	string
	default "/dev/nvme0n1"

endif # TERRAFORM_GCE
