if TERRAFORM_GCE

choice
	prompt "Choose GCE region location to use"
	default TERRAFORM_GCE_WEST_2C

config TERRAFORM_GCE_WEST_2C
	bool "us-west2-c"
	help
	  This option will set the gce region location to us-west2-c.

endchoice

config TERRAFORM_GCE_REGION_LOCATION
	string "GCE region location"
	default "us-west2-c" if TERRAFORM_GCE_WEST_2C
	help
	  This option will set the gce region location. For more examples:
	  https://cloud.google.com/compute/docs/regions-zones/

choice
	prompt "Choose GCE Machine type"
	default TERRAFORM_GCE_MACHINE_N1_STANDARD_1

config TERRAFORM_GCE_MACHINE_N1_STANDARD_1
	bool "n1-standard-1"
	help
	  This option will set the GCE machine type.

endchoice

config TERRAFORM_GCE_MACHINE_TYPE
	string "GCE Machine type"
	default "n1-standard-1" if TERRAFORM_GCE_MACHINE_N1_STANDARD_1
	help
	  This option will set the GCE machine type. For other machine types,
	  refer to this page:

	  https://cloud.google.com/compute/docs/machine-types

choice
	prompt "Choose GCE scratch disk interface to use"
	default TERRAFORM_GCE_SCRATCH_DISK_NVME

config TERRAFORM_GCE_SCRATCH_DISK_NVME
	bool "NVME"
	help
	  This option sets the scratch disk interface to NVMe.

endchoice

config TERRAFORM_GCE_SCRATCH_DISK_INTERFACE
	string "GCE scratch disk interface"
	default "NVME" if TERRAFORM_GCE_SCRATCH_DISK_NVME
	help
	  This option will set gce scratch disk interface.

choice
	prompt "Choose GCE image to use"
	default TERRAFORM_GCE_IMAGE_DEBIAN_10

config TERRAFORM_GCE_IMAGE_DEBIAN_10
	bool "debian-cloud/debian-10"
	help
	  This option sets the gce image to debian-cloud/debian-10.

endchoice

config TERRAFORM_GCE_IMAGE
	string "GCE image name to use"
	default "debian-cloud/debian-10" if TERRAFORM_GCE_IMAGE_DEBIAN_10
	help
	  This option will set gce image to debian-cloud/debian-10.

config TERRAFORM_GCE_JSON_CREDENTIALS_PATH
	string "GCE json credential file path"
	default "account.json"
	help
	  Path to the GCE json credentials file. Refer to the following links
	  for documentation about this:

	    o https://www.terraform.io/docs/providers/google/getting_started.html
	    o https://www.terraform.io/docs/providers/google/index.html
	    o https://cloud.google.com/iam/docs/granting-roles-to-service-accounts#granting_access_to_a_service_account_for_a_resource

endif # TERRAFORM_GCE
