# Distributions actively maintaining btrfs support should select this and then
# be careful to select any of the other HAVE_DISTRO_BTRFS_* below so that
# testers can know what to test for.
config HAVE_DISTRO_EXT4_PREFERS_MANUAL
	bool
	default n

config FSTESTS_EXT4_MANUAL_COVERAGE
	bool "Enable manual coverage selection"
	default y if HAVE_DISTRO_EXT4_PREFERS_MANUAL
	default n if !HAVE_DISTRO_EXT4_PREFERS_MANUAL
	help
	  By default we aim to spawn enough hosts to cover testing the full
	  range of supported features upstream on the Linux kernel for ext4,
	  and for you to also be able to do development on each section
	  concurrently. Distributions however may override sensible defaults
	  and only support certain features. Enabling this option lets you
	  select and test only specific configurations.

	  By default we enables all tests, but certain distributions may
	  disable certain features and as such don't need to run certain
	  type of tests.

	  You can enable this to allow you to override the default test
	  coverage.

if FSTESTS_EXT4_MANUAL_COVERAGE

config FSTESTS_EXT4_SECTION_DEFAULTS
	bool "Enable testing section: ext4_defaults"
	default y
	help
	  Enabling this will test ext4 with the default options for the mkfs.ext4
	  to create the filesystem.

config FSTESTS_EXT4_SECTION_ADVANCED_FEATURES
	bool "Enable testing section: ext4_advanced_features"
	default y
	help
	  Enabling this will test ext4 with the advanced features enabled.
	  This enables a host which will use the following configuration:

	      [ext4_advanced_features]
	      MKFS_OPTIONS="-I 256 -O inline_data,metadata_csum,64bit"
	      FSTYP=ext4

endif # !FSTESTS_EXT4_MANUAL_COVERAGE
