if BOOTLINUX_TREE_MCGROF_LINUS

choice
	prompt "mcgrof-linus branch to use"
	default BOOTLINUX_MCGROF_LINUS_LBS

config BOOTLINUX_MCGROF_LINUS_LBS
	bool "large-block-linus"
	help
	  Use the latest LBS branch based on Linus' tree.

config BOOTLINUX_MCGROF_LINUS_LBS_NOBDEV
	bool "large-block-linus-nobdev"
	help
	  Use the latest minimal branch for LBS which let's you use LBS
	  devices with a sectorsize compatibility based on Linus' tree.

endchoice

endif # BOOTLINUX_TREE_MCGROF_LINUS

if BOOTLINUX_TREE_MCGROF_NEXT

choice
	prompt "mcgrof-next branch to use"
	default BOOTLINUX_MCGROF_NEXT_LBS

config BOOTLINUX_MCGROF_NEXT_LBS
	bool "large-block-next"
	help
	  Use the latest stable LBS branch which enables all the bells and
	  whistles for all types of LBS devices.

config BOOTLINUX_MCGROF_NEXT_LBS_NOBDEV
	bool "large-block-nobdev"
	help
	  Use the latest minimal branch for LBS which let's you use LBS
	  devices with a sectorsize compatibility.

endchoice

endif # BOOTLINUX_TREE_MCGROF_NEXT

if BOOTLINUX_TREE_MCGROF_LINUS || BOOTLINUX_TREE_MCGROF_NEXT

config BOOTLINUX_MCGROF_TREE
	bool
	default y

config BOOTLINUX_MCGROF_TREE_TAG
	string
	default "large-block-linus" if BOOTLINUX_MCGROF_LINUS_LBS
	default "large-block-linus-nobdev" if BOOTLINUX_MCGROF_LINUS_LBS_NOBDEV
	default "large-block-20230915" if BOOTLINUX_MCGROF_NEXT_LBS
	default "large-block-nobdev-20230915" if BOOTLINUX_MCGROF_NEXT_LBS_NOBDEV

config BOOTLINUX_MCGROF_TREE_NAME
	string
	default "mcgrof-linus" if BOOTLINUX_TREE_MCGROF_LINUS
	default "mcgrof-next" if BOOTLINUX_TREE_MCGROF_NEXT

config BOOTLINUX_MCGROF_TREE_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/mcgrof/linux-next.git" if BOOTLINUX_TREE_MCGROF_NEXT && !USE_LOCAL_LINUX_MIRROR
	default "/mirror/mcgrof-next.git" if BOOTLINUX_TREE_MCGROF_NEXT && USE_LIBVIRT_MIRROR && BOOTLINUX_9P
	default "https://git.kernel.org/pub/scm/linux/kernel/git/mcgrof/linux.git" if BOOTLINUX_TREE_MCGROF_LINUS && !USE_LOCAL_LINUX_MIRROR
	default "/mirror/mcgrof-linus.git" if BOOTLINUX_TREE_MCGROF_LINUS && USE_LIBVIRT_MIRROR && BOOTLINUX_9P

endif # BOOTLINUX_TREE_MCGROF_LINUS || BOOTLINUX_TREE_MCGROF_NEXT
