if BOOTLINUX_TREE_BTRFS_DEVEL

config BOOTLINUX_TREE_BTRFS_DEVEL_TAG
	string
	default "btrfs-devel"

config BOOTLINUX_TREE_BTRFS_DEVEL_NAME
	string
	default "btrfs-devel"

config BOOTLINUX_TREE_BTRFS_TREE_URL
	string
	default "https://github.com/kdave/btrfs-devel.git" if BOOTLINUX_TREE_BTRFS_DEVEL

endif # BOOTLINUX_TREE_BTRFS_DEVEL
