if BOOTLINUX_DEV

choice
	prompt "Linux development tree to use"
	default BOOTLINUX_TREE_NEXT if !QEMU_ENABLE_EXTRA_DRIVE_LARGEIO
	default BOOTLINUX_TREE_MCGROF_NEXT if QEMU_ENABLE_EXTRA_DRIVE_LARGEIO

config BOOTLINUX_TREE_NEXT
	bool "linux-next"
	help
	  Use the linux-next tree.

config BOOTLINUX_TREE_BTRFS_DEVEL
	bool "btrfs-devel"
	help
	  Use the btrfs-devel tree.

config BOOTLINUX_TREE_JLAYTON_LINUX
	bool "jlayton-linux"
	help
	  Use Jeff Layton's linux tree.

config BOOTLINUX_TREE_MCGROF_NEXT
	bool "mcgrof-next"
	select BOOTLINUX_HAS_PURE_IOMAP_CONFIG
	help
	  Use mcgrof's linux-next tree.

endchoice

endif # BOOTLINUX_DEV
