if BOOTLINUX_TREE_NEXT

config BOOTLINUX_TREE_NEXT_TAG
	string "linux-next tag to pull"
	default "next-20240108"

config BOOTLINUX_TREE_NEXT_NAME
	string
	default "linux-next"

config BOOTLINUX_TREE_NEXT_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git" if !USE_LOCAL_LINUX_MIRROR
	default $(shell, scripts/append-makefile-vars.sh git:// $(KDEVOPS_DEFAULT_BRIDGE_IP_VAGRANT) /mirror/linux-next.git) if USE_LIBVIRT_MIRROR && !BOOTLINUX_9P && VAGRANT
	default $(shell, scripts/append-makefile-vars.sh git:// $(KDEVOPS_DEFAULT_BRIDGE_IP_GUESTFS) /mirror/linux-next.git) if USE_LIBVIRT_MIRROR && !BOOTLINUX_9P && GUESTFS
	default "/mirror/linux-next.git" if USE_LIBVIRT_MIRROR && BOOTLINUX_9P

endif # BOOTLINUX_TREE_NEXT
