if BOOTLINUX_TREE_BTRFS_DEVEL

config BOOTLINUX_TREE_BTRFS_DEVEL_TAG
	string
	default "btrfs-devel"

config BOOTLINUX_TREE_BTRFS_DEVEL_NAME
	string
	default "btrfs-devel"

endif # BOOTLINUX_TREE_BTRFS_DEVEL
