if BOOTLINUX_LINUS

choice
	prompt "Linux tree based on Linus' tree to use"
	default BOOTLINUX_TREE_LINUS

config BOOTLINUX_TREE_LINUS
	bool "linux"
	help
	  Use Linus Torvald's linux tree.

config BOOTLINUX_TREE_KDEVOPS_LINUS
	bool "kdevops-linus"
	help
	  Branches in kdevops' tree based on Linus' tree.

config BOOTLINUX_TREE_MCGROF_LINUS
	bool "mcgrof-linus"
	help
	  Branches in mcgrof's tree based on Linus' tree.

endchoice

if BOOTLINUX_TREE_LINUS

choice
	prompt "Linus' tag or branch to use"
	default BOOTLINUX_LINUS_66_RC5

config BOOTLINUX_LINUS_MASTER
	bool "master"
	help
	  Use the master branch, the top of Linus' tree.

config BOOTLINUX_LINUS_66_RC4
	bool "v6.6-rc4"
	help
	  Use the v6.6-rc4 tag.

config BOOTLINUX_LINUS_66_RC5
	bool "v6.6-rc5"
	help
	  Use the v6.6-rc5 tag.

config BOOTLINUX_LINUS_66_RC2
	bool "v6.6-rc2"
	help
	  Use the v6.6-rc2 tag.

endchoice

config BOOTLINUX_TREE_LINUS_TAG
	string
	default "master" if BOOTLINUX_LINUS_MASTER
	default "v6.6-rc2" if BOOTLINUX_LINUS_66_RC2
	default "v6.6-rc4" if BOOTLINUX_LINUS_66_RC2
	default "v6.6-rc5" if BOOTLINUX_LINUS_66_RC5

config BOOTLINUX_TREE_LINUS_NAME
	string
	default "linux"

config BOOTLINUX_TREE_LINUS_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git" if !USE_LOCAL_LINUX_MIRROR
	default "git://192.168.124.1/mirror/linux.git" if USE_LIBVIRT_MIRROR && !BOOTLINUX_9P
	default "/mirror/linux.git" if USE_LIBVIRT_MIRROR && BOOTLINUX_9P

endif # BOOTLINUX_TREE_LINUS

endif # BOOTLINUX_LINUS
