if BOOTLINUX_STABLE

choice
	prompt "Linux stable tree to use"
	default BOOTLINUX_TREE_STABLE

config BOOTLINUX_TREE_STABLE
	bool "linux-stable"
	help
	  Use the linux-stable tree.

endchoice

if BOOTLINUX_TREE_STABLE

choice
	prompt "Stable branch to use"
	default BOOTLINUX_STABLE_V60

config BOOTLINUX_STABLE_V419
	bool "linux-4.19.y"
	help
	  Automatically enable the latest supported linux-4.19.y kernel.

config BOOTLINUX_STABLE_V54
	bool "linux-5.4.y"
	help
	  Automatically enable the latest supported linux-5.4.y kernel.

config BOOTLINUX_STABLE_V510
	bool "linux-5.10.y"
	help
	  Automatically enable the latest supported linux-5.10.y kernel.

config BOOTLINUX_STABLE_V514
	bool "linux-5.14.y"
	help
	  Automatically enable the latest supported linux-5.14.y kernel.

config BOOTLINUX_STABLE_V517
	bool "linux-5.17.y"
	help
	  Automatically enable the latest supported linux-5.17.y kernel.

config BOOTLINUX_STABLE_V519
	bool "linux-5.19.y"
	help
	  Automatically enable the latest supported linux-5.19.y kernel.

config BOOTLINUX_STABLE_V60
	bool "linux-6.0.y"
	help
	  Automatically enable the latest supported linux-6.0.y kernel.

config BOOTLINUX_STABLE_V61
	bool "linux-6.1.y"
	help
	  Automatically enable the latest supported linux-6.1.y kernel.

endchoice

endif # BOOTLINUX_TREE_STABLE

config BOOTLINUX_TREE_STABLE_TAG
	string
	default "v4.19.133" if BOOTLINUX_STABLE_V419
	default "v5.4.210" if BOOTLINUX_STABLE_V54
	default "v5.10.105" if BOOTLINUX_STABLE_V510
	default "v5.14.4" if BOOTLINUX_STABLE_V514
	default "v5.17-rc7" if BOOTLINUX_STABLE_V517
	default "v5.19-rc4" if BOOTLINUX_STABLE_V519
	default "v6.0.9" if BOOTLINUX_STABLE_V60
	default "linux-6.1.y" if BOOTLINUX_STABLE_V61

config BOOTLINUX_TREE_STABLE_NAME
	string
	default "linux-stable" if BOOTLINUX_TREE_STABLE

config BOOTLINUX_TREE_STABLE_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git" if !USE_LOCAL_LINUX_MIRROR
	default "git://192.168.124.1/mirror/linux-stable.git" if USE_LIBVIRT_MIRROR && !BOOTLINUX_9P
	default "/mirror/linux-stable.git" if USE_LIBVIRT_MIRROR && BOOTLINUX_9P

endif # BOOTLINUX_STABLE
