if BOOTLINUX_TREE_NEXT

config BOOTLINUX_TREE_NEXT_TAG
	string
	default "next-20230913"

config BOOTLINUX_TREE_NEXT_NAME
	string
	default "linux-next"

config BOOTLINUX_TREE_NEXT_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git" if !USE_LOCAL_LINUX_MIRROR
	default "git://192.168.124.1/mirror/linux-next.git" if USE_LIBVIRT_MIRROR && !BOOTLINUX_9P
	default "/mirror/linux-next.git" if USE_LIBVIRT_MIRROR && BOOTLINUX_9P

endif # BOOTLINUX_TREE_NEXT
