client_certificate_path = "{{ terraform_azure_client_cert_path }}"
client_certificate_password = "{{ terraform_azure_client_cert_passwd }}"
application_id = "{{ terraform_azure_application_id }}"
subscription_id = "{{ terraform_azure_subscription_id }}"
tenant_id = "{{ terraform_azure_tenant_id }}"

resource_location = "{{ terraform_azure_resource_location }}"
vmsize = "{{ terraform_azure_vm_size }}"
managed_disk_type = "{{ terraform_azure_managed_disk_type }}"
image_publisher = "{{ terraform_azure_image_publisher }}"
image_offer = "{{ terraform_azure_image_offer }}"
image_sku = "{{ terraform_azure_image_sku }}"
image_version = "{{ terraform_azure_image_version }}"

ssh_config_pubkey_file = "{{ kdevops_terraform_ssh_config_pubkey_file }}"
ssh_config_user = "{{ kdevops_terraform_ssh_config_user }}"
ssh_config = "{{ sshconfig }}"

ssh_config_update = "{{ kdevops_terraform_ssh_config_update | lower }}"
ssh_config_use_strict_settings = "{{ kdevops_terraform_ssh_config_update_strict | lower }}"
ssh_config_backup = "{{ kdevops_terraform_ssh_config_update_backup | lower }}"
