config WORKFLOWS
	bool "Enable different target workflows"
	default y
	help
	  If you want to do something other than just bring up of target systems
	  enable this option. For instance, you may want to easily boot linux
	  and/or run fstests.

if WORKFLOWS

menu "Shared workflow configuration"
source "kconfigs/workflows/Kconfig.shared"
endmenu

choice
	prompt "Target Linux kernel to use"
	default WORKFLOW_LINUX_DISTRO

config WORKFLOW_LINUX_DISTRO
	bool "Distro kernel"
	help
	help
	  If you are targetting a workflow to run on a distribution kernel
	  enable this.

config WORKFLOW_LINUX_CUSTOM
	bool "Upstream Linux or custom kernel"
	select BOOTLINUX
	help
	  If you are targetting a workflow to run on a vanilla upstream
	  linux, linux-stable, linux-next, or a custom kernel you want to
	  build and install enable this.

endchoice

if WORKFLOW_LINUX_CUSTOM
menu "Get and install Linux from git"
config BOOTLINUX
	bool "Enable getting and installing Linux from git"
	default n
	help
	  This option will allow the 'make linux' target be usable for you
	  to just get Linux from git, or to install it as well.

	  Say y unless you don't want to have 'make linux' do anything.

source "kconfigs/workflows/bootlinux/Kconfig"
endmenu
endif # WORKFLOW_LINUX_CUSTOM

config WORKFLOWS_TESTS
	bool "Enable selection of test workflows"
	default n

if WORKFLOWS_TESTS

config KDEVOPS_WORKFLOW_ENABLE_FSTESTS
	bool "fstests"
	default n
	help
	  Select this option if you are doing filesystem development and want
	  to target development for a filesystem and enable fstests so that
	  you can test the filesystem.

	  The fstests git tree will be cloned, and set up for you, and
	  you will be able to run create a baseline for your target filesystem,
	  and also test to ensure you don't regress that baseline. If a baseline
	  already exists against your distribution you will be able to ensure
	  you don't regress against development changes on your kernel.

endif # WORKFLOWS_TESTS

if KDEVOPS_WORKFLOW_ENABLE_FSTESTS
menu "Configure and run fstests"
source "workflows/fstests/Kconfig"
endmenu
endif # KDEVOPS_WORKFLOW_ENABLE_FSTESTS

endif # WORKFLOWS
