config WORKFLOW_EXTRA_SOFTWARE
	bool "Allow the installation and configuration of additional software"
	default n if VAGRANT_DEBIAN
	default y if !VAGRANT_DEBIAN
	help
	  Enabling this option will allow you to install and configure extra
	  software on the target system which may be useful for a slew of
	  different workflows. These are typical software which you typically
	  end up having to install for one reason or another for different
	  types of workflows.

	  For instance, you may want to install and configure postfix so that
	  a target system may send emails to you if an issue is found.

if WORKFLOW_EXTRA_SOFTWARE

config WORKFLOW_EXTRA_SOFTWARE_POSTFIX
	bool "Install and configure postfix"
	default y
	help
	  Enabling this option will install and configure postfix on the
	  targets systems. We'll also install mailx to allow users to easily
	  test if postfix settings are set up correctly.

config WORKFLOW_EXTRA_SOFTWARE_WATCHDOG
	bool "Install watchhdog"
	default y
	help
	  Enabling this option will install a watchdog, and allow you to
	  configure it. This is useful if you want to have triggers of things
	  to do if the system is no longer reachable, for instance, it crashed.

endif # WORKFLOW_EXTRA_SOFTWARE
