config WORKFLOWS_REBOOT_LIMIT
	bool "Reboot-limit"
	select KDEVOPS_TRY_REFRESH_REPOS
	select KDEVOPS_TRY_INSTALL_KDEV_TOOLS
	select KDEVOPS_DEVCONFIG_ENABLE_CONSOLE
	select KDEVOPS_DEVCONFIG_ENABLE_SYSTEMD_WATCHDOG
	select KERNEL_CI
	select KERNEL_CI_ENABLE_STEADY_STATE
	help
	  If you are doing kernel tests which includes a reboot, along the way,
	  or if you do a reboot after a series of tests, you may want to first
	  figure out what your upper bound limit is on successful reboots
	  without any issue are before running a series of tests. Without this,
	  you really have no idea clearly if you can reboot without issues
	  forever and may end up with a false positive on an unidentified issue.

if WORKFLOWS_REBOOT_LIMIT

menu "Configure and reboot-limit"
choice
	prompt "Reboot test type"
	default REBOOT_LIMIT_TYPE_ANSIBLE

config REBOOT_LIMIT_TYPE_ANSIBLE
	bool "Use the ansible reboot module"
	help
	  Ansible has a module to reboot. Its implementation is to
	  run 'shutdown -r'. If you are OK with this then select
	  this.

config REBOOT_LIMIT_TYPE_SYSTEMD_REBOOT
	bool "Use systemctl reboot"
	help
	  This will try to reboot instead using systemctl reboot.

config REBOOT_LIMIT_TYPE_SYSTEMD_KEXEC
	bool "Use systemctl kexec"
	help
	  This will try to reboot instead using systemctl kexec.

endchoice

config REBOOT_LIMIT_TEST_TYPE
	string
	default "ansible" if REBOOT_LIMIT_TYPE_ANSIBLE
	default "systemctl_reboot" if REBOOT_LIMIT_TYPE_SYSTEMD_REBOOT
	default "systemctl_kexec" if REBOOT_LIMIT_TYPE_SYSTEMD_KEXEC

config REBOOT_LIMIT_WATCHDOG
	bool "Enable a watchdog for the reboot-limit test"
	help
	  This can be enabled but doesn't do much yet. Eventually this will
	  use the systemd built-in watchdog. But we have to also consider
	  the really rare cases where even ansible times out. Could be due
	  to a DHCP after bootup, for example.

if REBOOT_LIMIT_WATCHDOG

config REBOOT_LIMIT_WATCHDOG_CHECK_TIME
	int "How often to run the reboot-limit watchdog in seconds"
	default 5
	help
	  How often to trigger running the reboot-limit watchdog, in seconds.

endif

config REBOOT_LIMIT_BOOT_COUNT_CRASH_ENABLE
	bool "Force a crash after certain period of reboots"
	help
	  Enable the system to be crashed after a period of number of boots.

config REBOOT_LIMIT_BOOT_COUNT_CRASH
	int "After how many reboots should we force a crash"
	depends on REBOOT_LIMIT_BOOT_COUNT_CRASH_ENABLE
	help
	  After how many boots should we force a crash.

config REBOOT_LIMIT_ENABLE_DATA_COLLECTION
	bool "Enable data colletion stats on every reboot"
	default y
	help
	  Enable this if you want to collect some statistics after every boot.

if REBOOT_LIMIT_ENABLE_DATA_COLLECTION

config REBOOT_LIMIT_DATA
	string "Where to place boot statistics as we move forward with tests"
	default "{{data_path}}/reboot-limit"
	help
	  This is the target location of where to we'd place the boot statistics
	  of each node. Note that {{data_path}} corresponds to the location set
	  by the configuration option CONFIG_WORKFLOW_DATA_PATH.

config REBOOT_LIMIT_ENABLE_SYSTEMD_ANALYZE
	bool "Enable data colletion of systemd-analyze results"
	default y
	help
	  Enable this if you want to collect some systemd-analyze results
	  after every boot.

endif # REBOOT_LIMIT_ENABLE_DATA_COLLECTION

endmenu
endif # WORKFLOWS_REBOOT_LIMIT
