[Unit]
Description=blktests mirror [blktest.git]
Documentation=man:git(1)
ConditionPathExists=/mirror/blktests.git

[Service]
Type=oneshot
ExecStartPre=/usr/bin/git -C /mirror/blktests.git remote update --prune
ExecStart=/usr/bin/git -C /mirror/blktests.git fetch --tags --prune
ExecStartPost=/usr/bin/git -C /mirror/blktests.git fetch origin +refs/heads/*:refs/heads/*

[Install]
WantedBy=multi-user.target
