[Unit]
Description=blktests mirror query timer blktests.git]
ConditionPathExists=/mirror/blktests.git

[Timer]
OnBootSec=10m
# Every 6 hours
OnUnitInactiveSec=360m

[Install]
WantedBy=default.target
