[Unit]
Description=fstests mirror [fstests.git]
Documentation=man:git(1)
ConditionPathExists=/mirror/fstests.git

[Service]
Type=oneshot
ExecStartPre=/usr/bin/git -C /mirror/fstests.git remote update --prune
ExecStart=/usr/bin/git -C /mirror/fstests.git fetch --tags --prune
ExecStartPost=/usr/bin/git -C /mirror/fstests.git fetch origin +refs/heads/*:refs/heads/*

[Install]
WantedBy=multi-user.target
