[Unit]
Description=Linux kdevops's linus mirror query timer [kdevops-linus.git]
ConditionPathExists=/mirror/kdevops-linus.git

[Timer]
OnBootSec=10m
# Every 6 hours
OnUnitInactiveSec=360m

[Install]
WantedBy=default.target
