[Unit]
Description=Linux Stable mirror query timer [linux-stable.git]
ConditionPathExists=/mirror/linux-stable.git

[Timer]
OnBootSec=20m
# Every 2 hours
OnUnitInactiveSec=120m

[Install]
WantedBy=default.target
