[Unit]
Description=Linux Next mirror [linux-next.git]
Documentation=man:git(1)
ConditionPathExists=/mirror/linux-next.git

[Service]
Type=oneshot
ExecStartPre=/usr/bin/git -C /mirror/linux-next.git remote update --prune
ExecStart=/usr/bin/git -C /mirror/linux-next.git fetch --tags --prune
ExecStartPost=/usr/bin/git -C /mirror/linux-next.git fetch origin +refs/heads/*:refs/heads/*

[Install]
WantedBy=multi-user.target
