[Unit]
Description=Linux mirror query timer [linux.git]
ConditionPathExists=/mirror/linux.git

[Timer]
OnBootSec=5m
OnUnitInactiveSec=10m

[Install]
WantedBy=default.target
