[Unit]
Description=linux mirror [linux-stable.git]
Documentation=man:git(1)
ConditionPathExists=/mirror/linux-stable.git

[Service]
Type=oneshot
ExecStart=/usr/bin/git -C /mirror/linux-stable.git fetch --tags

[Install]
WantedBy=multi-user.target
