[Unit]
Description=linux mirror [linux.git]
Documentation=man:git(1)
ConditionPathExists=/mirror/linux.git

[Service]
Type=oneshot
ExecStart=/usr/bin/git -C /mirror/linux.git fetch --tags

[Install]
WantedBy=multi-user.target
