[Unit]
Description=Linux Stable mirror [linux-stable.git]
Documentation=man:git(1)
ConditionPathExists=/mirror/linux-stable.git

[Service]
Type=oneshot
ExecStartPre=/usr/bin/git -C /mirror/linux-stable.git remote update --prune
ExecStart=/usr/bin/git -C /mirror/linux-stable.git fetch --tags --prune
ExecStartPost=/usr/bin/git -C /mirror/linux-stable.git fetch origin +refs/heads/*:refs/heads/*

[Install]
WantedBy=multi-user.target
