[Unit]
Description=Linux mcgrof's linus mirror query timer [mcgrof-linus.git]
ConditionPathExists=/mirror/mcgrof-linus.git

[Timer]
OnBootSec=10m
# Every 6 hours
OnUnitInactiveSec=360m

[Install]
WantedBy=default.target
