[Unit]
Description=Linux mcgrof's mirror query timer [mcgrof-next.git]
ConditionPathExists=/mirror/mcgrof-next.git

[Timer]
OnBootSec=10m
# Every 6 hours
OnUnitInactiveSec=360m

[Install]
WantedBy=default.target
