[Unit]
Description=QEMU mirror [qemu-jic23.git]
Documentation=man:git(1)
ConditionPathExists=/mirror/qemu-jic23.git

[Service]
Type=oneshot
ExecStartPre=/usr/bin/git -C /mirror/qemu-jic23.git remote update --prune
ExecStart=/usr/bin/git -C /mirror/qemu-jic23.git fetch --tags --prune
ExecStartPost=/usr/bin/git -C /mirror/qemu-jic23.git fetch origin +refs/heads/*:refs/heads/*

[Install]
WantedBy=multi-user.target
