[Unit]
Description=QEMU mirror query timer [qemu.git]
ConditionPathExists=/mirror/qemu.git

[Timer]
OnBootSec=5m
OnUnitInactiveSec=10m

[Install]
WantedBy=default.target
