[Unit]
Description=qemu mirror [qemu.git]
Documentation=man:git(1)
ConditionPathExists=/mirror/qemu.git

[Service]
Type=oneshot
ExecStart=/usr/bin/git -C /mirror/qemu.git fetch

[Install]
WantedBy=multi-user.target
