[Unit]
Description=QEMU mirror [qemu.git]
Documentation=man:git(1)
ConditionPathExists=/mirror/qemu.git

[Service]
Type=oneshot
ExecStartPre=/usr/bin/git -C /mirror/qemu.git update --prune
ExecStart=/usr/bin/git -C /mirror/qemu.git fetch --tags --prune
ExecStartPost=/usr/bin/git -C /mirror/qemu.git fetch origin +refs/heads/*:refs/heads/*

[Install]
WantedBy=multi-user.target
