config HAVE_DISTRO_PREFERS_REFRESH
	bool
	default n

config HAVE_DISTRO_PREFERS_UPDATE
	bool
	default n

config HAVE_DISTRO_PREFERS_INSTALL_KDEVTOOLS
	bool
	default n

config KDEVOPS_TRY_REFRESH_REPOS
	bool "Try to refresh repositories on bringup?"
	default n if !HAVE_DISTRO_PREFERS_REFRESH
	default y if HAVE_DISTRO_PREFERS_REFRESH
	help
	  Bring up typically just consists of having the systems accessible
	  via ssh. However, most of these systems are pretty bare bones and
	  useless right after bring up, likely with stale repositories or
	  software. Enabling this option will only try to update the
	  repositories. If you require registration to update your repositories
	  that implies we will try to register your system if you enable that.
	  You will need to enable this option to install any packages through
	  the automated system on kdevops.

	  Disabling this is a good idea if all you want to do is test raw
	  bring up of kdevops.

config RHEL_REGISTER
	bool "Register the guests with Red Hat?"
	default n
	help
	  Official RHEL installations require a subscription before you can download
	  packages from their core repos. Enable this if you're deploying an official
	  RHEL cloud image (e.g. generic/rhel9).

config RHEL_ORG_ID
	string "Red Hat Organization Identifier"
	depends on RHEL_REGISTER
	default ""
	help
	  Enter the Red Hat Organizational ID for your subscription here.

config RHEL_ACTIVATION_KEY
	string "Red Hat Activation Key"
	depends on RHEL_REGISTER
	default ""
	help
	  Enter the Activation Key to use when registering systems.

config KDEVOPS_CUSTOM_YUM_REPOFILE
	string "Custom yum repo file"
	default ""
	help
	  Add a custom yum repo file to /etc/yum.repos.d before updating? Leave blank to
	  disable this feature or set to repofile path on local machine.

config KDEVOPS_TRY_UPDATE_SYSTEMS
	bool "Try to update target hosts on bringup?"
	depends on KDEVOPS_TRY_REFRESH_REPOS
	default n if !HAVE_DISTRO_PREFERS_UPDATE
	default y if HAVE_DISTRO_PREFERS_UPDATE
	help
	  Bring up typically just consists of having the systems accessible
	  via ssh. However, most of these systems are pretty bare bones and
	  useless right after bring up. Enabling this will try to update your
	  target systems to their respective latest.

config KDEVOPS_TRY_INSTALL_KDEV_TOOLS
	bool "Try to install kernel development tools on bringup?"
	depends on KDEVOPS_TRY_REFRESH_REPOS
	default n if !HAVE_DISTRO_PREFERS_INSTALL_KDEVTOOLS
	default y if HAVE_DISTRO_PREFERS_INSTALL_KDEVTOOLS
	help
	  Enabling this will try to install a slew of known packages which
	  most kernel developers might prefer to have installed on target
	  systems.

config KDEVOPS_SETUP_SIW
	bool "Configure soft iWARP on all test systems"
	default n
	help
	  Configure software-emulated RDMA on all target hosts via the
	  kernel siw.ko driver. siw can be used with any standard
	  Ethernet device, including virtio-net devices.

	  Because siw is currently not enabled in most Linux distro
	  kernels, this option defaults to N.

config KDEVOPS_SETUP_KTLS
	bool "Configure ktls on the hosts with self-signed CA"
	default n
	help
	  Enabling this will have kdevops create a self-signed certificate
	  authority, and configure tlshd on the hosts to use it. This is
	  necessary for testing RPC over TLS, or NVMe over TCP.

source "kconfigs/Kconfig.nfsd"
source "kconfigs/Kconfig.krb5"
