config QEMU_ENABLE_CXL
	bool "Enable QEMU CXL devices"
	depends on LIBVIRT
	depends on LIBVIRT_MACHINE_TYPE_Q35
	depends on BRINGUP_SUPPORTS_CXL
	depends on QEMU_USE_DEVELOPMENT_VERSION
	default n
	help
	  If this option is enabled then you can enable different types of
	  CXL devices which we will emulate for you.

if QEMU_ENABLE_CXL

config QEMU_START_QMP_ON_TCP_SOCKET
	bool "Start QMP on a TCP socket"
	default n

if QEMU_START_QMP_ON_TCP_SOCKET

config QEMU_QMP_COMMAND_LINE_STRING
	string "Qemu command line string for qmp"
	default "tcp:localhost:4444,server"
	help
	  Option for qmp interface (from https://wiki.qemu.org/Documentation/QMP).

config QEMU_QMP_WAIT_ON
	bool "Let Qemu instance wait for qmp connection"
	default n

endif # QEMU_START_QMP_ON_TCP_SOCKET

choice
	prompt "CXL topology to enable"
	default QEMU_ENABLE_CXL_DEMO_TOPOLOGY_1

config QEMU_ENABLE_CXL_DEMO_TOPOLOGY_1
	bool "Basic CXL demo topology with a CXL Type 3 device"
	help
	  This is a basic CXL demo topology. It consists of single host bridge that
	  has one root port. A Type 3 persistent memory device is attached to the
	  root port. This topology is referred to as a passthrough decoder in
	  kernel terminology. The kernel CXL core will consume the resource exposed
	  in the ACPI CXL memory layout description, such as Host Managed
	  Device memory (HDM), CXL Early Discovery Table (CEDT), and the
	  CXL Fixed Memory Window Structures to publish the root of a
	  cxl_port decode hierarchy to map regions that represent System RAM,
	  or Persistent Memory regions to be managed by LIBNVDIMM.

config QEMU_ENABLE_CXL_DEMO_TOPOLOGY_2
	bool "Host bridge with two root ports"
	help
	  This topology extends the first demo topology by placing two root ports
	  in the host bridge. This ensures that the decoder associated with the
	  host bridge is not a passthrough decoder.

config QEMU_ENABLE_CXL_SWITCH_TOPOLOGY_1
	bool "CXL switch connected to root port with two down stream ports"
	help
	  This topology adds a CXL switch in the topology. A memory device
	  is connected to one of the down stream ports. The upstream port
	  is connected to a root port on the host bridge.

config QEMU_ENABLE_CXL_DEMO_DCD_TOPOLOGY_1
	bool "CXL DCD demo directly attached to a single-port HB"
	help
	  This topology adds a DCD device in the topology, directly attached to
	  a host bridge with only one root port.
	  The device has zero (volatile or non-volatile) static capacity
	  and 2 dynamic capacity regions where dynamic extents can be added.

endchoice

endif # QEMU_ENABLE_CXL
