# FIXME: need defaults for terraform hosts
config NFSD_EXPORT_DEVICE_0
	string "First device to be exported"
	default "/dev/disk/by-id/nvme-QEMU_NVMe_Ctrl_kdevops2" if VAGRANT && LIBVIRT_EXTRA_STORAGE_DRIVE_NVME
	default "/dev/disk/by-id/virtio-kdevops2" if VAGRANT && LIBVIRT_EXTRA_STORAGE_DRIVE_VIRTIO
	default "/dev/disk/by-id/ide-kdevops2" if VAGRANT && LIBVIRT_EXTRA_STORAGE_DRIVE_IDE
	default ""
	help
	  To set up nfsd for testing, we give it filesystems to export. This
	  block device is used as a PV for LVM, and volumes are provisioned from it.

config NFSD_EXPORT_DEVICE_1
	string "Second device to be exported"
	default "/dev/disk/by-id/nvme-QEMU_NVMe_Ctrl_kdevops3" if VAGRANT && LIBVIRT_EXTRA_STORAGE_DRIVE_NVME
	default "/dev/disk/by-id/virtio-kdevops3" if VAGRANT && LIBVIRT_EXTRA_STORAGE_DRIVE_VIRTIO
	default "/dev/disk/by-id/ide-kdevops3" if VAGRANT && LIBVIRT_EXTRA_STORAGE_DRIVE_IDE
	help
	  To set up nfsd for testing, we give it filesystems to export. This
	  block device is used as a PV for LVM, and volumes are provisioned from it.

choice
	prompt "Type of filesystem to export"
	default NFSD_EXPORT_FSTYPE_BTRFS

config NFSD_EXPORT_FSTYPE_BTRFS
	bool "btrfs"

config NFSD_EXPORT_FSTYPE_XFS
	bool "xfs"

config NFSD_EXPORT_FSTYPE_EXT4
	bool "ext4"

endchoice

config NFSD_EXPORT_FSTYPE
	string
	default "btrfs" if NFSD_EXPORT_FSTYPE_BTRFS
	default "xfs" if NFSD_EXPORT_FSTYPE_XFS
	default "ext4" if NFSD_EXPORT_FSTYPE_EXT4

config NFSD_EXPORT_PATH
	string "The path under which to mount the devices to be exported."
	default "/export"
	help
	  This is the path that will be exported from the nfsd server. The
	  export devices are mounted here under numbered directories starting
	  with 0.

config NFSD_EXPORT_OPTIONS
	string "The export options to use for the exported fs"
	default "rw,insecure,no_root_squash"
	help
	  The export options that the export should have

config NFSD_THREADS
	int "Number of nfsd threads to spawn"
	default 8
	help
	  Number of nfsd threads to start up for testing.
