config HYPERVISOR_TUNING
	bool "Enable kernel hypervisor tunings"
	default y if KDEVOPS_FIRST_RUN
	help
	  If you are going to be using a kernel-ci setup with virtualization
	  it means you will end up with many guests using the same software
	  and running the same binaries. And so a few kernel tuning options
	  can be enabled to help save memory pressure on your host.

	  Enabling this will enable you to select which recommended kernel
	  tunings to enable on your host if it is running Linux. To be clear,
	  these tunings are set on the localhost where kdevops is cloned.

if HYPERVISOR_TUNING

config HYPERVISOR_TUNING_KSM
	bool "Enable Kernel same page merging on the host"
	default y if VAGRANT
	help
	  Enabling KSM can save tons of memory, in some kernel-ci systems with
	  about 60 guests it has saved about 135 GiB of RAM. If you enable this
	  option what we will do is run the following on your host:

	  # echo 1 > /sys/kernel/mm/ksm/run

	  For more information about KSM read:

	  https://www.kernel.org/doc/html/latest/admin-guide/mm/ksm.html

config HYPERVISOR_TUNING_ZSWAP
	bool "Enable zswap on the host"
	default y if VAGRANT
	help
	  Zswap is a lightweight compressed cache for swap pages
	  Although in theory designed for swap, you can enable zswap and still
	  never touch disk, and only use the benefit of zswap for compressing
	  certain amount of memory. This holds true so long as zswap doesn’t
	  actually evict pages from memory to disk. We can verify this as
	  follows on a Linux host:

	  # cat /sys/kernel/debug/zswap/written_back_pages
	  0

	  In this case, 0 indicates that there is nothing from zswap touching
	  disk. If you enable this option what we will run is the following on
	  your host:

	  # echo 1 > /sys/module/zswap/parameters/enabled

	  For more information about zswap refer to:

	  https://www.kernel.org/doc/html/latest/vm/zswap.html

config HYPERVISOR_TUNING_ZSWAP_MAX_POOL_PERCENT
	int "Zswap max pool percentage"
	default 90
	depends on HYPERVISOR_TUNING_ZSWAP
	help
	  Zswap's default max pool percentage is set to 20%. This means zswap
	  will use up to 20% of compressed pool in-memory total, and once the
	  amount of compressed pool in-memory used by zswap passes this
	  threshold it will start evicting to memory disk. We want to avoid
	  evicting to disk as much as possible, and so we highly recommend
	  increasing this to 90%.

	  With the defaults you would see:

	  # cat /sys/module/zswap/parameters/max_pool_percent
	  # 20

	  Enabling zswap tuning, we'll modify this as follows for you:

	  # echo 90 > /sys/module/zswap/parameters/max_pool_percent

endif
