# Please keep in alphabetical order

config DEFAULT_BLKTRACE_URL
	string
	default "https://git.kernel.dk/blktrace"

config DEFAULT_DBENCH_URL
	string
	default "https://github.com/linux-kdevops/dbench.git"

config DEFAULT_XFSDUMP_URL
	string
	default "https://github.com/linux-kdevops/xfsdump-dev.git"

config DEFAULT_XFSPROGS_URL
	string
	default "https://git.kernel.org/pub/scm/fs/xfs/xfsprogs-dev.git"
