config HAVE_DISTRO_PREFERS_REFRESH
	bool
	default n

config HAVE_DISTRO_PREFERS_UPDATE
	bool
	default n

config HAVE_DISTRO_PREFERS_INSTALL_KDEVTOOLS
	bool
	default n

config KDEVOPS_TRY_REFRESH_REPOS
	bool "Try to refresh repositories on bringup?"
	default n if !HAVE_DISTRO_PREFERS_REFRESH
	default y if HAVE_DISTRO_PREFERS_REFRESH
	help
	  Bring up typically just consists of having the systems accessible
	  via ssh. However, most of these systems are pretty bare bones and
	  useless right after bring up, likely with stale repositories or
	  software. Enabling this option will only try to update the
	  repositories. If you require registration to update your repositories
	  that implies we will try to register your system if you enable that.
	  You will need to enable this option to install any packages through
	  the automated system on kdevops.

	  Disabling this is a good idea if all you want to do is test raw
	  bring up of kdevops.

config KDEVOPS_CUSTOM_YUM_REPOFILE
	string "Custom yum repo file"
	depends on DISTRO_FEDORA
	default ""
	help
	  Add a custom yum repo file to /etc/yum.repos.d before updating? Leave blank to
	  disable this feature or set to repofile path on local machine.

config KDEVOPS_TRY_UPDATE_SYSTEMS
	bool "Try to update target hosts on bringup?"
	depends on KDEVOPS_TRY_REFRESH_REPOS
	default n if !HAVE_DISTRO_PREFERS_UPDATE
	default y if HAVE_DISTRO_PREFERS_UPDATE
	help
	  Bring up typically just consists of having the systems accessible
	  via ssh. However, most of these systems are pretty bare bones and
	  useless right after bring up. Enabling this will try to update your
	  target systems to their respective latest.

config KDEVOPS_TRY_INSTALL_KDEV_TOOLS
	bool "Try to install kernel development tools on bringup?"
	depends on KDEVOPS_TRY_REFRESH_REPOS
	default n if !HAVE_DISTRO_PREFERS_INSTALL_KDEVTOOLS
	default y if HAVE_DISTRO_PREFERS_INSTALL_KDEVTOOLS
	help
	  Enabling this will try to install a slew of known packages which
	  most kernel developers might prefer to have installed on target
	  systems.

config KDEVOPS_SETUP_KTLS
	bool "Configure ktls on the hosts with self-signed CA"
	default n
	help
	  Enabling this will have kdevops create a self-signed certificate
	  authority, and configure tlshd on the hosts to use it. This is
	  necessary for testing RPC over TLS, or some NVMe over fabrics
	  configurations.

config KDEVOPS_SETUP_NFSD
	bool "Set up the kernel nfs server"
	default n
	help
	  Configure and bring up the kernel NFS server. This will provision
	  a filesystem on a block device, mount it, export it and start up the
	  nfs server and associated daemons.

if KDEVOPS_SETUP_NFSD
menu "Configure the kernel NFS server"
source "kconfigs/Kconfig.nfsd"
endmenu
endif
