config KDEVOPS_PYTHON_INTERPRETER
	string "Which default python interpreter to use"
	default "/usr/bin/python3" if !VAGRANT_OPENSUSE
	default "/usr/bin/python2" if VAGRANT_OPENSUSE
	help
	  The python interpreter must be specified clearly for each host when
	  using ansible, otherwise you will run into odd issues if the
	  heuristics used by ansible are incorrect. Specify the default
	  python interpreter we should use on the target hosts. You shouldn't
	  need to modify unless you are going to be working with a distribution
	  which we have not yet added support for. You can also instead use
	  the old interpreter in your file if you know you are working with
	  old hosts.

config KDEVOPS_PYTHON_OLD_INTERPRETER
	string "Which python interpreter to use for old systems"
	default "/usr/bin/python2"
	help
	  The default python interpreter may be python3 but we need something
	  so that we can specify it on older systems. You can then use the
	  KDEVOPSPYTHONOLDINTERPRETER value on your hosts.in file on old
	  systems so that this gets properly placed.

config INSTALL_ANSIBLE_KDEVOPS
	bool "Installs the main ansible kdevops role"
	default y
	help
	  kdevops consists of a series of ansible roles, amongst other things.
	  In order to allow users to easily upgrade, instead of updating tons
	  of dependencies, we provide a convenient single ansible role
	  which you can use to update, and we do the work for you on getting
	  the kdevops ansible role dependencies for you. You want to enable
	  this option and only disable this if you are debugging or testing
	  things.

config INSTALL_ANSIBLE_KDEVOPS_ROLES
	bool "Installs the roles on which kdevops depends on"
	default y
	help
	  If this option is enabled then the ansible roles which pertain to
	  kdevops will be installed. You want to enable this. Disabling this
	  is only encouraged if debugging. You want to enable this unless
	  you know what you are doing, and know you really don't want this.

if INSTALL_ANSIBLE_KDEVOPS_ROLES

config FORCE_INSTALL_ANSIBLE_KDEVOPS
	bool "Enable forcing installation"
	default y
	help
	  Saying yes here will ensure we use "--force" when installing
	  the ansible galaxy dependencies. This is a good idea if you want
	  to be certain no one has mucked with the ansible roles locally.

	  Also, unfortunately if you don't say yes here you won't get updates
	  to ansible roles if you already have an older version installed.
	  This seems to be a "feature" of ansible, ie, not a bug.

endif # INSTALL_ANSIBLE_KDEVOPS_ROLES
