config KDEVOPS_REG_TWOLINE_ENABLE_STRING
	string "Enabling string"
	default "suse_register_system" if HAVE_DISTRO_SUSE
	help
	  The twoline method will create a file playbooks/secret.yml, the
	  string set here is the name of the enabler variable which will be
	  set to the value of 'True'.

config KDEVOPS_REG_TWOLINE_REGCODE_VAR
	string "Registration code variable name"
	default "suse_registration_code" if HAVE_DISTRO_SUSE
	help
	  The twoline method will create a file playbooks/secret.yml, the
	  string set here is the name of the variable which will be used
	  to define the registration code.

config KDEVOPS_REG_TWOLINE_REGCODE
	string "Registration code"
	default "KDEVOPS-UNSET-REGCODE"
	help
	  The twoline method will create a file playbooks/secret.yml, the
	  string set here is the actual registration code value.
