choice
	prompt "Node bring up method"
	default VAGRANT

config VAGRANT
	bool "Vagrant for local virtualization (KVM / VirtualBox)"
	select KDEVOPS_SSH_CONFIG_UPDATE_STRICT
	depends on TARGET_ARCH_X86_64
	help
	  This option will enable use of Vagrant. Enable this if you want to
	  use local virtualization technologies such as KVM with libvirt or
	  VirtualBox. Enabling this feature will enable you to select which
	  target guests to use, and configures things for you. It will also
	  ensure dependencies are installed for Vagrant when running:

	    make deps

config TERRAFORM
	bool "Terraform for cloud environments"
	select EXTRA_STORAGE_SUPPORTS_512
	select EXTRA_STORAGE_SUPPORTS_1K
	select EXTRA_STORAGE_SUPPORTS_2K
	select EXTRA_STORAGE_SUPPORTS_4K
	help
	  This option will enable use of Vagrant. Enable this if you want to
	  use terraform to create nodes on a cloud environment such as:

	    * Azure
	    * AWS
	    * OpenStack
	    * GCE

	  Enabling this option will enable installing terraform dependencies
	  when you run:

	    make deps

	  If you are not using a cloud environment just disable this.

config SKIP_BRINGUP
	bool "Skip bring up - bare metal or existing nodes"
	select EXTRA_STORAGE_SUPPORTS_512
	select EXTRA_STORAGE_SUPPORTS_1K
	select EXTRA_STORAGE_SUPPORTS_2K
	select EXTRA_STORAGE_SUPPORTS_4K
	help
	  This option will skip bring up, as you already have existing
	  systems up and available and ssh'able. This might be the case
	  if you are working with bare metal systems or systems you may
	  have already provisioned through other means.

endchoice

source "vagrant/Kconfig"
source "terraform/Kconfig"
if LIBVIRT
source "kconfigs/Kconfig.libvirt"
endif
