config SETUP_POSTFIX_EMAIL_RELAY
	bool "Set postfix relayhost localy to send emails reports"
	default n if !HAVE_KDEVOPS_CUSTOM_DEFAULTS
	default KDEVOPS_DEFAULT_SETUP_POSTFIX_RELAY if HAVE_KDEVOPS_CUSTOM_DEFAULTS
	help
	  The most secure and easiest way to send email reports is to
	  configure a relayhost on on your postfix configuration. A relayhost
	  is set up by just modifying /etc/postfix/main.cf with the variable:

	  relayhost = foo.host.com

	  And then we'd restart postfix. Say y here only if its your first
	  time configuring your hypervisor. This is not needed after the first
	  setup.

if SETUP_POSTFIX_EMAIL_RELAY

config SETUP_POSTFIX_EMAIL_RELAY_HOST
	string "The relayhost string to use"
	default "test.com" if !HAVE_KDEVOPS_CUSTOM_DEFAULTS
	default KDEVOPS_DEFAULT_SETUP_POSTFIX_RELAY_HOST if HAVE_KDEVOPS_CUSTOM_DEFAULTS
	help
	  The SSH configuration file we should update, for each of the systems
	  created.

endif
