config DISTRO_DEBIAN
	bool
	default $(shell, scripts/os-release-check.sh debian)

config DISTRO_FEDORA
	bool
	default $(shell, scripts/os-release-check.sh fedora)

config DISTRO_OPENSUSE
	bool
	default $(shell, scripts/os-release-check.sh opensuse)

config DISTRO_REDHAT
	bool
	default $(shell, scripts/os-release-check.sh redhat)

config DISTRO_SUSE
	bool
	default $(shell, scripts/os-release-check.sh suse)

config DISTRO_UBUNTU
	bool
	default $(shell, scripts/os-release-check.sh ubuntu)
